/* Breakpoint
------------------------------------- */
/* Mobile First */
/* Desktop First */
/* Text Style
------------------------------------- */
/* Font Family */
/* Font Size for Paragraph (Area Text) */
/* Font Size for Title and Word (Point Text) */
/* Font Weight */
/* Line Height */
/* Color Palette
------------------------------------- */
/* Spacing
------------------------------------- */
.p_header {
  background-color: #FFFFFF;
  min-height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.p_header.off {
  opacity: 0;
}

.p_header.affix {
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  opacity: 1;
}

/*----------------------------------------------
	Header Logo
---------------------------------------------*/
.p_header__logo {
  width: 220px;
  height: 220px;
  background: #61B2D7;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.p_header__logo a {
  display: flex;
}
.p_header__logo img.is_scroll {
  display: none;
}

.p_header.affix .p_header__logo {
  width: auto;
  height: 80px;
  background: none;
}
.p_header.affix .p_header__logo img.is_scroll {
  display: block;
}
.p_header.affix .p_header__logo img.is_top {
  display: none;
}

/*----------------------------------------------
	Top Navigation
---------------------------------------------*/
.p_header__nav__list ul.menu {
  display: flex;
  padding: 0 30px;
}

.p_header__nav__list ul.menu li {
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  line-height: 2;
  position: relative;
}
.p_header__nav__list ul.menu li a {
  display: block;
  padding: 20px 25px;
  text-decoration: none;
  color: #555555;
  transition: all 0.3s;
  font-weight: 600;
  transition: all 0.3s;
}
.p_header__nav__list ul.menu li a span {
  color: #61B2D7;
  font-size: 12px;
  display: block;
  line-height: 1;
}
.p_header__nav__list ul.menu li a:hover {
  cursor: pointer;
  opacity: 0.8;
}
.p_header__nav__list ul.menu li .is_nolink {
  pointer-events: none;
}

.p_header__nav__list .p_dropdown {
  transition: all 0s linear;
  -webkit-transition: all 0s linear;
  display: none;
  position: absolute;
  background: #EDF7FC;
  width: calc(100% + 30px);
  margin: 0 -15px;
  left: 0;
  z-index: 999;
}

.p_header__nav__list .p_dropdown .p_dropdown__list > li a {
  text-align: left;
  padding: 7px 20px;
  position: relative;
  border-bottom: 1px solid #FFFFFF;
}
.p_header__nav__list .p_dropdown .p_dropdown__list > li a:hover {
  text-decoration: none;
  background: #F0FAFF;
}
.p_header__nav__list .p_dropdown .p_dropdown__list > li a:after {
  position: absolute;
  content: "";
  width: 15px;
  height: 1px;
  background: #555555;
  right: 15px;
  top: 50%;
  transition: all 0.3s;
}
.p_header__nav__list .p_dropdown .p_dropdown__list > li a:hover:after {
  right: 5px;
}
.p_header__nav__list .p_dropdown .p_dropdown__list > li:last-child a {
  border-bottom: 0;
}

@media screen and (max-width: 767px) {
  /* 575px */
  .p_header {
    min-height: 60px;
  }
  .p_header .p_header__logo {
    width: 100px;
    height: 100px;
  }
  .p_header .p_header__logo img.is_top {
    width: 85%;
    margin: 0 auto;
  }
  .p_header .p_header__logo img.is_scroll {
    height: 60px;
  }
  .p_header .p_header__nav {
    position: fixed;
    top: 60px;
    z-index: 999;
    width: 100%;
    background: #fff;
    height: calc(100% - 60px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    display: none;
  }
  .p_header.affix .p_header__logo {
    height: 60px;
  }
  .p_header.active {
    transition: all 0.5s ease-in-out;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background: white;
    opacity: 1;
  }
  .p_header.active .p_header__logo {
    width: auto;
    height: 60px;
    background: none;
  }
  .p_header.active .p_header__logo img.is_top {
    display: none;
  }
  .p_header.active .p_header__logo img.is_scroll {
    display: block;
  }
  .p_header.active .p_header__nav {
    opacity: 1;
    display: block;
  }

  .p_header__nav__list ul.menu {
    padding: 0;
    flex-direction: column;
  }
  .p_header__nav__list ul.menu > li {
    border-top: 1px solid #CCCCCC;
    padding-right: 50px;
    position: relative;
  }
  .p_header__nav__list ul.menu > li:last-child {
    border-bottom: 1px solid #CCCCCC;
  }
  .p_header__nav__list ul.menu > li:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 1px;
    background: #555555;
    right: 15px;
    top: 50%;
    transition: all 0.3s;
  }
  .p_header__nav__list ul.menu > li:hover:after {
    right: 5px;
  }
  .p_header__nav__list ul.menu > li a {
    padding: 15px 25px;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .p_header__nav__list ul.menu > li .is_arrow {
    position: absolute;
    right: 20px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #61B2D7;
    border-left: 2px solid #61B2D7;
    top: 22px;
    transform: rotate(-135deg);
    z-index: 9;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    cursor: pointer;
  }
  .p_header__nav__list ul.menu > li.has_dp:after {
    display: none;
  }
  .p_header__nav__list ul.menu > li.active .is_arrow {
    transform: rotate(45deg);
    top: 27px;
  }
  .p_header__nav__list ul.menu > li.active .p_dropdown {
    display: block;
  }
  .p_header__nav__list .p_dropdown {
    margin: 0;
    width: calc(100% + 50px);
    position: static;
  }
  .p_header__nav__list .p_dropdown .p_dropdown__list {
    display: flex;
    flex-wrap: wrap;
  }
  .p_header__nav__list .p_dropdown .p_dropdown__list li {
    border-top: 1px solid #CCCCCC;
    width: 50%;
  }
  .p_header__nav__list .p_dropdown .p_dropdown__list li:nth-child(2n) {
    border-left: 1px solid #CCCCCC;
  }
  .p_header__nav__list .p_dropdown .p_dropdown__list li:nth-child(odd):last-child {
    width: 100%;
  }
  .p_header__nav__list .p_dropdown .p_dropdown__list li a {
    padding: 15px 25px;
  }
}
/*----------------------------------------------
	SP Menu
---------------------------------------------*/
.p_header__icons {
  padding-top: 5px;
}
.p_header__icons > div {
  margin-right: 15px;
}
.p_header__icons small {
  display: block;
  line-height: 1;
  font-size: 10px;
  font-weight: 600;
  line-height: 2;
}
.p_header__icons .is_calendar img {
  display: block;
  margin: 0 auto;
}
.p_header__icons .is_toggle {
  cursor: pointer;
  color: #61B2D7;
}
.p_header__icons .is_toggle > div {
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4px 0 3px;
}
.p_header__icons .is_toggle span {
  width: 30px;
  height: 2px;
  background: #61B2D7;
  margin: 0 auto;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}
.p_header__icons .is_toggle.active {
  position: relative;
}
.p_header__icons .is_toggle.active span {
  position: absolute;
  top: 13px;
  left: 1px;
}
.p_header__icons .is_toggle.active span:nth-child(1) {
  transform: rotate(135deg);
}
.p_header__icons .is_toggle.active span:nth-child(2) {
  opacity: 0;
  display: none;
}
.p_header__icons .is_toggle.active span:nth-child(3) {
  transform: rotate(-135deg);
}

@media screen and (max-width: 767px) {
  .p_header__icons {
    display: flex;
    align-items: center;
  }
}
/*----------------------------------------------
	SP Header Social
---------------------------------------------*/
.p_header__social {
  padding: 25px;
}
.p_header__social li {
  margin: 0 15px;
}
.p_header__social li a {
  display: block;
}
.p_header__social li a img {
  display: block;
}

@media screen and (max-width: 767px) {
  .p_header__social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/*----------------------------------------------
	SP Menu Contacts
---------------------------------------------*/
.p_header__contact li {
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  position: relative;
  background: #61B2D7;
  border-bottom: 1px solid #FFFFFF;
}
.p_header__contact li:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 1px;
  background: #FFFFFF;
  right: 15px;
  top: 50%;
  transition: all 0.3s;
}
.p_header__contact li:hover:after {
  right: 5px;
}
.p_header__contact li a {
  display: block;
  color: #FFFFFF;
  padding: 15px 25px;
  padding-right: 50px;
  display: flex;
  text-decoration: none;
}
.p_header__contact li a img {
  margin-right: 10px;
}
.p_header__contact li a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=common_header.css.map */