@charset "UTF-8";
/*----------------------------------------------
	Comment out sample (Large Title)
---------------------------------------------*/
/* Comment out sample (Middle Title)
------------------------------------- */
/* Comment out sample (Small Title) */
/*----------------------------------------------
	Foundation
---------------------------------------------*/
/* Breakpoint
------------------------------------- */
/* Mobile First */
/* Desktop First */
/* Text Style
------------------------------------- */
/* Font Family */
/* Font Size for Paragraph (Area Text) */
/* Font Size for Title and Word (Point Text) */
/* Font Weight */
/* Line Height */
/* Color Palette
------------------------------------- */
/* Spacing
------------------------------------- */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
}

*:focus {
  outline: none;
}

/*----------------------------------------------
	html
---------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

ul {
  list-style: none;
}

/*----------------------------------------------
	body
---------------------------------------------*/
body {
  font-family: "Noto Serif JP", serif;
  color: #555555;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.4;
  min-width: 960px;
}

/*----------------------------------------------
	a
---------------------------------------------*/
a {
  text-decoration: none;
  color: #61B2D7;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

/*----------------------------------------------
	table
---------------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------------------------------------
	section
---------------------------------------------*/
section {
  padding: 100px 0;
}

@media screen and (max-width: 991px) {
  section {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  body {
    width: 100%;
    min-width: 100%;
    line-height: 2;
  }

  section {
    padding: 25px 20px;
  }
}
/*----------------------------------------------
	Frame
---------------------------------------------*/
/*----------------------------------------------
	Menu IDs
---------------------------------------------*/
.f_anchor::before {
  content: "";
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

#flow::before,
#faq::before,
#charges::before {
  height: 180px;
  margin-top: -180px;
}

/*----------------------------------------------
	Frame Banner
---------------------------------------------*/
.f_site_banner {
  display: block;
  overflow: hidden;
  min-height: 140px;
}

.f_site_banner__wrapper {
  position: relative;
}
.f_site_banner__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.f_site_banner__wrapper.is_inner {
  overflow: hidden;
}
.f_site_banner__wrapper.f_section {
  display: flex;
  justify-content: flex-end;
}
.f_site_banner__wrapper.is_shadow::before {
  position: absolute;
  top: 0;
  left: -5px;
  z-index: 1;
  content: "";
  width: 50%;
  height: 100%;
  background: white;
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 100%);
}

.f_site_main {
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .f_site_banner__wrapper.f_section {
    justify-content: initial;
  }
}
@media screen and (max-width: 767px) {
  .f_site_banner {
    min-height: 40px;
  }
}
/*----------------------------------------------
	Frame Sections
---------------------------------------------*/
.f_site__fixed {
  height: calc(100% - 90px);
  position: fixed;
  top: 90px;
  right: 0;
  z-index: 99;
}

.f_section {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.f_section .f_section__inner {
  max-width: 530px;
  width: 100%;
}

.f_sec01 {
  padding-bottom: 0;
}

.f_sec02 {
  padding-bottom: 160px;
}
.f_sec02 .l_wrapper {
  display: flex;
  justify-content: flex-end;
}
.f_sec02 .f_section-img {
  position: absolute;
  left: -160px;
  bottom: -160px;
  z-index: -1;
}
.f_sec02 .c_btn-wrapper {
  text-align: right;
}

.f_sec03 .f_section-img01 {
  position: absolute;
  right: -160px;
  top: -180px;
  z-index: -1;
}
.f_sec03 .f_section-img02 {
  position: absolute;
  right: 0;
  bottom: -100px;
  z-index: -1;
}

.f_troubles {
  background-color: #F0FAFF;
}

.f_access {
  overflow: hidden;
  padding: 0;
}

.f_recruit {
  background-color: #F0FAFF;
  padding: 0;
}

.f_flow {
  padding-top: 0;
}

.f_charges {
  padding-top: 0;
}

.f_faq {
  padding-top: 0;
}

.f_contact {
  background-color: #F0FAFF;
}

.f_point {
  background: url(../img/point_img01.jpg) no-repeat center;
  background-size: cover;
}

.f_case {
  background-color: #F0FAFF;
}

.f_section.is_white {
  max-width: 100%;
  padding-top: 100px;
}

.f_section2.is_white {
  max-width: 100%;
  padding-top: 0;
}

.f_section.is_bg2 {
  max-width: 100%;
  background: #F0FAFF;
}

@media screen and (max-width: 991px) {
  .f_sec03 .f_section-img02 {
    right: -20px;
  }

  .f_sec04 {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .f_site__fixed {
    height: auto;
    top: auto !important;
    bottom: 0;
    right: auto;
    left: 0;
    width: 100%;
  }

  .f_sec01 {
    padding: 0 20px 10px;
  }
  .f_sec01 .p_adbox {
    max-width: 400px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.5;
  }

  .f_sec02 {
    padding-bottom: 25px;
  }
  .f_sec02 .l_wrapper {
    display: block;
  }
  .f_sec02 .f_section-img {
    position: static;
    margin: 0 -20px 25px;
    width: 100%;
  }

  .f_section .f_section__inner {
    max-width: 100%;
  }

  .f_sec03 .f_section-img01 {
    top: -30px;
    right: -20px;
    width: 150px;
  }
  .f_sec03 .f_section-img02 {
    position: static;
    max-width: 250px;
    display: flex;
    margin: 25px 0 0 auto;
    margin-right: -20px;
  }
  .f_sec03 .l_wrapper {
    padding-top: 50px;
  }

  .f_point {
    background-size: cover;
    padding: 60px 20px 50px;
  }

  .f_section.is_white {
    padding-top: 30px;
  }
}
/*----------------------------------------------
	Frame Footer
---------------------------------------------*/
.f_site__footer {
  background: #61B2D7;
  color: #FFFFFF;
}

/*----------------------------------------------
	Layout
---------------------------------------------*/
/*----------------------------------------------
	.l_wrapper
---------------------------------------------*/
.l_wrapper {
  width: 960px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}

/*----------------------------------------------
	Component
---------------------------------------------*/
/*----------------------------------------------
	.c_btn
---------------------------------------------*/
.c_btn-wrapper {
  margin-top: 70px;
}

.c_btn {
  width: 100%;
  max-width: 410px;
  display: inline-block;
  padding: 1.25em;
  background-color: none;
  color: #555555;
  font-size: 18px;
  text-align: center;
  line-height: 1.3;
  transition: all 0.2s;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  border: 1px solid #555555;
  margin-top: 20px;
  letter-spacing: 0;
}
.c_btn:first-child {
  margin-top: 0;
}
.c_btn:hover {
  text-decoration: none;
  opacity: 0.6;
}
.c_btn:after {
  position: absolute;
  content: "";
  width: 42px;
  height: 1px;
  background: #555555;
  right: 30px;
  top: 50%;
  transition: all 0.3s;
}
.c_btn:hover:after {
  right: 15px;
}

.c_btn.is_secondary .c_btn__txt:before {
  content: "";
}

.c_btn.is_small {
  font-size: 16px;
  margin: 0 auto;
  padding: 0.9em;
  width: 255px;
}
.c_btn.is_small:after {
  width: 27px;
}

.c_btn.is_nobd {
  border: none;
  color: #61B2D7;
  float: right;
  font-size: 16px;
  max-width: 275px;
  padding: 1.25em 0;
  letter-spacing: 0.1em;
}
.c_btn.is_nobd:after {
  background-color: #61B2D7;
  right: 25px;
  width: 27px;
}
.c_btn.is_nobd:hover:after {
  right: 10px;
}

.c_btn.is_ad {
  max-width: 100%;
  padding: 0;
  border: 0;
  text-align: left;
  letter-spacing: 0.1em;
}
.c_btn.is_ad img {
  width: 100%;
}
.c_btn.is_ad:after {
  top: calc(50% + 10px);
}
.c_btn.is_ad .c_btn__txt {
  position: absolute;
  top: 0;
  left: 26%;
  width: 64%;
  height: calc(100% - 7px);
  font-size: 34px;
  letter-spacing: 0.1em;
  padding-top: 7px;
}
.c_btn.is_ad .c_btn__txt span {
  color: #61B2D7;
  font-size: 14px;
}
.c_btn.is_ad .c_btn__txt small {
  font-size: 16px;
  letter-spacing: 0;
}

.c_btn.is_custom::after {
  display: none;
}
.c_btn.is_custom > img {
  width: 32px;
  height: 32px;
  position: absolute;
  top: calc(50% - 15px);
  right: 15px;
}

@media screen and (max-width: 767px) {
  .c_btn-wrapper {
    margin-top: 20px;
  }

  .c_btn {
    display: block;
    margin: 0 auto 15px;
    padding: 18px;
  }
  .c_btn:after {
    width: 32px;
    right: 15px;
  }
  .c_btn:hover:after {
    right: 10px;
  }

  .c_btn.is_ad {
    margin-bottom: 5px;
  }
  .c_btn.is_ad .c_btn__txt {
    left: 35%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .c_btn.is_ad .c_btn__txt span {
    display: block;
    font-size: 12px;
  }
  .c_btn.is_ad:after {
    width: 20px;
    right: 15px;
    top: 50%;
  }
  .c_btn.is_ad:hover:after {
    right: 10px;
  }
  .c_btn.is_ad p.sp-only {
    font-size: 14px;
    margin-top: 10px;
  }

  .c_btn.is_nobd {
    font-size: 14px;
  }
}
/*----------------------------------------------
	.c_btn-fixed
---------------------------------------------*/
.c_btn-fixed {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}
.c_btn-fixed a {
  transition: all 0.3s ease-in-out;
  margin: 8px 0;
}
.c_btn-fixed a:hover {
  opacity: 0.6;
}
.c_btn-fixed a.is_pagetop {
  margin-top: 40px;
  height: 131px;
}
.c_btn-fixed a.is_pagetop img {
  display: none;
}
.c_btn-fixed .is_blue {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .c_btn-fixed {
    font-size: 14px;
    text-align: center;
    padding-bottom: 0;
    font-weight: 300;
  }
  .c_btn-fixed .is_blue {
    flex-direction: row;
  }
  .c_btn-fixed .is_blue li {
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    background: #61B2D7;
    width: 33.33%;
  }
  .c_btn-fixed .is_blue li a {
    color: #FFFFFF;
    padding: 10px 0 5px;
    margin: 0;
    display: block;
  }
  .c_btn-fixed .is_blue li a img {
    display: block;
    height: 15px;
    margin: 0 auto;
  }
  .c_btn-fixed .is_blue li a:hover {
    text-decoration: none;
  }
  .c_btn-fixed .is_blue li:last-child {
    border-right: 0;
  }
  .c_btn-fixed .is_blue li:hover {
    opacity: 0.8;
    text-decoration: none;
  }
  .c_btn-fixed .is_blue__ph {
    cursor: pointer;
  }
  .c_btn-fixed .is_gray {
    display: none;
    padding: 7px 7px 5px;
    background: rgba(112, 112, 112, 0.6);
    color: #FFFFFF;
    font-size: 12px;
  }
  .c_btn-fixed .is_gray ul {
    display: flex;
    justify-content: space-between;
  }
  .c_btn-fixed .is_gray ul li {
    width: 32.7%;
    background: #FFFFFF;
  }
  .c_btn-fixed .is_gray ul li a {
    color: #555555;
    display: block;
    padding: 0 5px;
  }
  .c_btn-fixed .is_gray ul li a img {
    width: 15px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: text-bottom;
  }
  .c_btn-fixed .is_gray ul li a:hover {
    color: #61B2D7;
    text-decoration: none;
  }
  .c_btn-fixed a.is_pagetop {
    display: block;
    position: absolute;
    bottom: 60px;
    right: 15px;
    margin: 0;
  }
}
/*----------------------------------------------
	.c_btn-b
---------------------------------------------*/
.c_btn-b {
  display: block;
  position: relative;
}
.c_btn-b:hover {
  text-decoration: none;
  opacity: 0.6;
}
.c_btn-b:after {
  position: absolute;
  content: "";
  width: 25px;
  height: 1px;
  background: #61B2D7;
  right: 0;
  top: 50%;
  transition: all 0.3s;
}
.c_btn-b:hover:after {
  width: 35px;
}

.c_txt {
  text-align: left;
}

.c_tag {
  display: inline-block;
  min-width: 6em;
  margin-right: 1em;
  border: 1px solid #61B2D7;
  border-radius: 50px;
  color: #61B2D7;
  font-size: 14px;
  text-align: center;
}

.c_box {
  background: url(../img/box_bg_icon.svg) no-repeat center center #EDF7FC;
  background-size: auto 80%;
  padding: 30px;
  margin: 50px 0 0;
}

.c_txt-c {
  text-align: center;
}

.c_phone {
  color: #61B2D7;
  font-size: 34px;
  font-weight: 700;
  line-height: 1;
}
.c_phone a {
  pointer-events: none;
  text-align: none;
  color: #61B2D7;
}
.c_phone span {
  position: relative;
  line-height: 1.5;
  padding-left: 30px;
}
.c_phone span::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 28px;
  background: url(../img/icon-tel.svg) no-repeat center center;
  background-size: contain;
  top: calc(50% - 12px);
  left: 0;
}

.c_ph {
  pointer-events: none;
  color: #555555;
}

.c_img {
  display: block;
  width: auto;
  max-width: 100%;
  float: none;
  margin: 20px auto;
}
.c_img.is_right {
  float: right;
  margin: 0 0 20px 30px;
}
.c_img.is_left {
  float: left;
  margin: 0 30px 20px 0;
}
.c_img.is_m40 {
  margin: 40px auto;
}

.c_fix {
  display: block;
  clear: both;
  overflow: hidden;
}

.is_translucent {
  position: relative;
}
.is_translucent::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(85, 85, 85, 0.5);
}

.is_pttl > br {
  display: none;
}

.c_flex {
  display: flex;
  justify-content: space-between;
}
.c_flex > div {
  padding: 0 20px;
}

.is_bglb {
  background: #EDF7FC;
}

.is_no-mb {
  margin-bottom: 0;
}

.is_colored {
  color: #61B2D7;
}

.mt80 {
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  .c_box {
    background-size: 180px;
    background-position: bottom 30% center;
    margin: 30px 0 0;
    padding: 15px;
  }

  .c_phone {
    font-size: 26px;
  }
  .c_phone a {
    pointer-events: initial;
  }
  .c_phone span {
    position: relative;
    line-height: 1.5;
    padding-left: 25px;
  }
  .c_phone span::before {
    width: 21px;
    height: 22px;
    top: calc(50% - 10px);
  }

  .c_ph {
    pointer-events: initial;
  }

  .c_img.is_right, .c_img.is_left {
    float: none;
    margin: 20px auto 0;
  }
  .c_img.is_m40 {
    margin: 20px auto;
  }

  .c_flex {
    display: block;
  }
  .c_flex > div {
    padding: 0;
  }

  .mt80 {
    margin-top: 40px;
  }
}
/*----------------------------------------------
	.c_ttl
---------------------------------------------*/
.c_ttl {
  font-size: 40px;
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  line-height: 1.5;
  color: #555555;
  letter-spacing: 0.1em;
  display: block;
  position: relative;
  text-align: left;
  margin-bottom: 30px;
}
.c_ttl span {
  font-size: 14px;
  color: #61B2D7;
  display: block;
  margin-bottom: 20px;
  line-height: 1.3;
}

.c_ttl.is_large {
  font-size: 50px;
  line-height: 1.6;
}

.c_ttl.is_medium {
  font-size: 36px;
  line-height: 1.6;
}

.c_ttl.is_small {
  font-size: 30px;
  line-height: 1.6;
}

.c_ttl.is_center {
  text-align: center;
}
.c_ttl.is_center div {
  font-size: 28px;
  position: relative;
}
.c_ttl.is_center div:after {
  background-color: #63B1D5;
  bottom: -30px;
  content: "";
  height: 1px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 140px;
}
.c_ttl.is_center div span {
  margin-bottom: 5px;
}

.c_ttl.is_secondary {
  text-align: left;
}
.c_ttl.is_secondary span:before {
  content: "";
  background: #61B2D7;
  width: 28px;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

@media screen and (max-width: 767px) {
  .c_ttl {
    font-size: 26px;
    margin-bottom: 15px;
  }
  .c_ttl span {
    margin-bottom: 10px;
  }

  .c_ttl.is_large {
    font-size: 30px;
  }

  .c_ttl.is_medium {
    font-size: 20px;
  }

  .c_ttl.is_small {
    font-size: 20px;
  }
}
/*----------------------------------------------
	.c_ttl-b
---------------------------------------------*/
.c_ttl-b {
  font-size: 28px;
  font-family: "Noto Serif JP", serif;
  line-height: 1.6;
  font-weight: 500;
  color: #555555;
  letter-spacing: 0.1em;
  display: block;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 70px;
}
.c_ttl-b::after {
  content: "";
  position: absolute;
  width: 140px;
  height: 1px;
  background: #61B2D7;
  bottom: 0;
  left: calc(50% - 70px);
}

@media screen and (max-width: 767px) {
  .c_ttl-b {
    font-size: 22px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    margin-top: 40px;
  }
  .c_ttl-b:after {
    width: 100px;
    left: calc(50% - 50px);
  }
}
/*----------------------------------------------
	.c_ttl-c
---------------------------------------------*/
.c_ttl-c {
  font-size: 24px;
  font-family: "Noto Serif JP", serif;
  line-height: 1.5;
  font-weight: 500;
  color: #555555;
  letter-spacing: 0.1em;
  display: block;
  position: relative;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 40px;
}
.c_ttl-c span {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
}
.c_ttl-c span::after {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 110px;
  height: 1px;
  background: #61B2D7;
  bottom: -1px;
  left: 0;
}
.c_ttl-c.no_bd {
  border: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .c_ttl-c {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .c_ttl-c span {
    padding-bottom: 5px;
  }
  .c_ttl-c span::after {
    max-width: 100%;
  }
  .c_ttl-c.no_bd {
    font-size: 18px;
  }
}
/*----------------------------------------------
	.c_ttl-d
---------------------------------------------*/
.c_ttl-d {
  color: #61B2D7;
  font-size: 22px;
  font-family: "Noto Serif JP", serif;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 0.1em;
  display: block;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}
.c_ttl-d::before {
  position: absolute;
  content: "";
  width: 55px;
  height: 1px;
  background: #CCCCCC;
  bottom: 0;
  left: 0;
}
.c_ttl-d.is_wdate {
  color: #555555;
  position: relative;
  padding-left: 190px;
  min-height: 40px;
}
.c_ttl-d.is_wdate span {
  color: #61B2D7;
  position: absolute;
  top: 0;
  left: 0;
}
.c_ttl-d.no_bd {
  padding-bottom: 0;
}
.c_ttl-d.no_bd::before {
  display: none;
}

@media screen and (max-width: 767px) {
  .c_ttl-d {
    font-size: 18px;
  }
  .c_ttl-d.is_wdate {
    padding-left: 0;
    min-height: auto;
  }
  .c_ttl-d.is_wdate span {
    position: static;
    display: block;
  }
  .c_ttl-d.no_bd {
    margin-bottom: 10px;
  }
}
/*----------------------------------------------
	.c_ttl-e
---------------------------------------------*/
.c_ttl-e {
  color: #61B2D7;
  font-size: 20px;
  font-family: "Noto Serif JP", serif;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 0.1em;
  display: block;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 20px;
  position: relative;
  border-bottom: 1px solid #CCCCCC;
}

@media screen and (max-width: 767px) {
  .c_ttl-e {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
/*----------------------------------------------
	.c_ttl-f
---------------------------------------------*/
.c_ttl-f {
  color: #555555;
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  display: block;
  position: relative;
  margin-bottom: 20px;
}
.c_ttl-f > span {
  display: inline-block;
  border-bottom: 1px solid #CCCCCC;
}

/*----------------------------------------------
	.c_breadcrumb
---------------------------------------------*/
.c_breadcrumb {
  padding: 50px 0 0;
}

.c_breadcrumb ul {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  overflow: auto;
}

.c_breadcrumb ul li {
  position: relative;
  white-space: nowrap;
  padding-right: 50px;
  color: #61B2D7;
}
.c_breadcrumb ul li:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background: #707070;
  top: 50%;
  right: 10px;
}
.c_breadcrumb ul li:last-child {
  padding-right: 0;
}
.c_breadcrumb ul li:last-child:after {
  display: none;
}
.c_breadcrumb ul li a {
  color: #61B2D7;
}
.c_breadcrumb ul li a:hover {
  opacity: 0.5;
}
.c_breadcrumb ul li br {
  display: none;
}

@media screen and (max-width: 991px) {
  .c_breadcrumb {
    padding: 50px 20px 0;
  }
}
@media screen and (max-width: 767px) {
  .c_breadcrumb {
    padding: 20px 20px 0;
  }
  .c_breadcrumb ul {
    font-size: 12px;
  }
}
/*----------------------------------------------
	.c_banner
---------------------------------------------*/
.c_banner li img {
  width: 100%;
}
.c_banner li img.sp-only {
  display: none;
}
.c_banner__txt {
  padding: 20px;
}
.c_banner__detail {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 140px 0 40px;
  z-index: 2;
}
.c_banner.is_shadow::before {
  position: absolute;
  top: 0;
  left: -5px;
  z-index: 1;
  content: "";
  width: 30%;
  height: 100%;
  background: white;
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 100%);
}
.c_banner__img {
  width: 100%;
  height: auto;
}
.c_banner__img img {
  display: block;
  width: 100%;
}

.c_banner.slick-dotted {
  margin-bottom: 0;
}

.c_banner .slick-dots {
  bottom: 30px;
  width: auto;
  right: 60px;
}
.c_banner .slick-dots > li {
  width: 10px;
  height: 10px;
  margin: 0 10px;
}
.c_banner .slick-dots > li > button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FFFFFF;
}
.c_banner .slick-dots > li > button::before {
  display: none;
}
.c_banner .slick-dots > li > button:hover {
  background: #61B2D7;
}
.c_banner .slick-dots > li.slick-active > button {
  background: #61B2D7;
}

@media screen and (max-width: 991px) {
  .c_banner__detail {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 767px) {
  #pageBanner .c_banner-b__ttl.is_large span.is_pttl > br {
    display: block;
  }

  .c_banner li img.sp-only {
    display: block;
  }
  .c_banner li img.pc-only {
    display: none;
  }

  .c_banner .slick-dots {
    right: 20px;
    bottom: 20px;
  }
  .c_banner .slick-dots li {
    margin: 0 5px;
  }

  .c_banner__detail {
    padding: 20px;
    justify-content: center;
  }
}
/*----------------------------------------------
	.c_banner-b
---------------------------------------------*/
.c_banner-b {
  position: relative;
  width: 70%;
  min-height: 580px;
  height: 0;
  padding-top: calc(580 / 900 * 70%);
  /* calc(画像高さ ÷ 画像横幅 × 100%) */
  background: url(../img/bnr_inner_img01.jpg) center left/cover no-repeat;
  position: relative;
  z-index: -1;
  float: right;
}
.c_banner-b.is_shadow::before {
  position: absolute;
  top: 0;
  left: -5px;
  z-index: 1;
  content: "";
  width: 20%;
  height: 100%;
  background: white;
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 100%);
}

.c_banner-b__img {
  width: 900px;
  height: 0;
  padding-top: calc(580 / 900 * 900px);
  /* calc(画像高さ ÷ 画像横幅 × 100%) */
  background: url(../img/bnr_inner_img01.jpg) center right/cover no-repeat;
  position: relative;
  z-index: -1;
}
.c_banner-b__img::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  content: "";
  width: 40%;
  height: 100%;
  background: white;
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 100%);
}

.c_banner-b__detail {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 140px 10% 40px;
  z-index: 2;
}
.c_banner-b__detail > div {
  flex: 1;
}

.c_banner-b__ttl {
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 50px;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.c_banner-b__ttl.is_large {
  font-size: 40px;
  margin-bottom: 40px;
}
.c_banner-b__ttl.is_large span {
  border-bottom: 1px solid #707070;
  padding-bottom: 7px;
}
.c_banner-b__ttl.is_large small {
  font-size: 14px;
  display: block;
  letter-spacing: 0.1em;
  margin-top: 10px;
}

.c_banner-b__detail_sp {
  margin-bottom: 50px;
  text-align: center;
}
.c_banner-b__detail_sp .c_banner-b__ttl {
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .c_banner-b__detail {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 767px) {
  .c_banner-b {
    width: 100%;
    height: 0;
    padding-top: calc(400 / 750 * 100%);
    /* calc(画像高さ ÷ 画像横幅 × 100%) */
    background: url(../img/bnr_inner_img01_sp.jpg) center left/cover no-repeat;
    min-height: 200px;
  }

  .c_banner-b__detail {
    padding: 50px 20px 20px;
    align-items: center;
  }

  .c_banner-b__detail_sp {
    margin-bottom: 20px;
    text-align: left;
  }
  .c_banner-b__detail_sp p > br {
    display: none;
  }

  .c_banner-b__ttl {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .c_banner-b__ttl.is_large {
    font-size: 24px;
    margin-bottom: 0;
  }
  .c_banner-b__ttl.is_large small {
    font-size: 12px;
  }
}
/*----------------------------------------------
	.c_banner-c
---------------------------------------------*/
.c_banner-c {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: calc(400 / 1280 * 100%);
  /* calc(画像高さ ÷ 画像横幅 × 100%) */
  background: url(../img/bnr_inner_img01.jpg) center right/cover no-repeat;
  position: relative;
  z-index: -1;
  float: right;
  min-height: 400px;
}

@media screen and (max-width: 767px) {
  .c_banner-c {
    min-height: 200px;
    background-position: center center;
  }

  .c_banner-c.sp-only {
    padding-top: calc(200 / 375 * 100%);
    /* calc(画像高さ ÷ 画像横幅 × 100%) */
  }
}
/*----------------------------------------------
	.c_banner-d
---------------------------------------------*/
.c_banner-d {
  position: relative;
  width: 100%;
  height: 0;
  background: url(../img/bnr_inner_img02-scaled.jpg) center/contain no-repeat;
  z-index: -1;
  min-height: 580px;
  float: right;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .c_banner-d {
    width: 100%;
    height: 0;
    padding-top: calc(400 / 750 * 100%);
    /* calc(画像高さ ÷ 画像横幅 × 100%) */
    background: url(../img/bnr_inner_img02-scaled.jpg) center/cover no-repeat;
    min-height: 200px;
  }
}
/*----------------------------------------------
	.c_banner-e
---------------------------------------------*/
.c_banner-e {
  position: relative;
  width: 100%;
  background: url(../img/bnr_inner_img01.jpg) center/contain no-repeat;
  z-index: -1;
  min-height: 580px;
  float: right;
  background-size: cover;
  z-index: 1;
}

.c_banner__img2 {
  width: 100%;
  height: auto;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.c_banner__img2 img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .c_banner-e {
    width: 100%;
    height: 0;
    background: url(../img/bnr_inner_img01.jpg) center/cover no-repeat;
    min-height: 200px;
  }
}
/*----------------------------------------------
	.c_content
---------------------------------------------*/
.c_content {
  margin-top: 100px;
}

.c_content__inner {
  margin-bottom: 100px;
}
.c_content__inner:last-child {
  margin-bottom: 0;
}
.c_content__inner p {
  margin-bottom: 10px;
}
.c_content__inner p:last-of-type {
  margin-bottom: 0;
}

.c_content__row {
  margin-top: 50px;
  display: block;
}
.c_content__row.is_left {
  overflow: hidden;
}
.c_content__row.is_left img {
  float: left;
  margin-right: 25px;
  margin-bottom: 30px;
}
.c_content__row.is_right {
  overflow: hidden;
}
.c_content__row.is_right img {
  float: right;
  margin-right: 0;
  margin-left: 25px;
}
.c_content__row.is_center img {
  float: none;
  margin: 20px auto;
  display: block;
}
.c_content__row img.is_right2 {
  float: right;
  margin-right: 0;
  margin-left: 80px;
}
.c_content__row img.is_center {
  float: none;
  margin: 20px auto;
  display: block;
}

.c_content__ttl {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
  color: #61B2D7;
}
.c_content__ttl.is_inline {
  display: inline-block;
}
.c_content__ttl.is_md {
  font-size: 20px;
  border-left: 3px solid #61B2D7;
  padding-left: 15px;
}

.c_content__item {
  margin-bottom: 60px;
  padding-bottom: 60px;
  position: relative;
}
.c_content__item p {
  margin-bottom: 20px;
}
.c_content__item p:last-of-type {
  margin-bottom: 0;
}
.c_content__item .is_right {
  text-align: right;
}
.c_content__item::after {
  position: absolute;
  content: "";
  width: 180px;
  height: 2px;
  background: #61B2D7;
  bottom: 0;
  left: calc(50% - 90px);
}
.c_content__item:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}
.c_content__item:last-of-type::after {
  display: none;
}

@media screen and (max-width: 767px) {
  .c_content {
    margin-top: 40px;
  }

  .c_content__inner {
    margin-bottom: 30px;
  }

  .c_content__row {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .c_content__row.is_right img, .c_content__row.is_left img, .c_content__row.is_center img,
.c_content__row img.is_right2,
.c_content__row img.is_center {
    float: none;
    margin: 20px auto 10px;
  }
  .c_content__row img {
    float: none;
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 20px auto 10px;
    order: 1;
  }
  .c_content__row img.is_right2 {
    order: -1;
  }

  .c_content__ttl {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .c_content__ttl.is_inline {
    display: block;
  }
  .c_content__ttl.is_md {
    font-size: 18px;
    padding-left: 10px;
  }

  .c_content-about {
    display: flex;
    flex-direction: column;
  }
  .c_content-about img {
    order: 9;
  }

  .c_content__item {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .c_content__item p {
    margin-bottom: 15px;
  }
}
/*----------------------------------------------
	.c_postnav
---------------------------------------------*/
.c_postnav {
  display: flex;
  justify-content: center;
}
.c_postnav > div {
  margin-top: 50px;
}
.c_postnav > div a {
  display: block;
  font-size: 0;
  width: 50px;
  height: 50px;
  background: #CCCCCC;
  margin: 0 35px;
  position: relative;
}
.c_postnav > div a::after {
  position: absolute;
  content: "";
  top: 14px;
  left: 20px;
  width: 20px;
  height: 20px;
  border-top: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  transform: rotate(-45deg);
}
.c_postnav > div a:hover {
  background: #61B2D7;
}
.c_postnav .is_pnav-next a::after {
  border-left: 0;
  border-right: 2px solid #FFFFFF;
  transform: rotate(45deg);
  left: auto;
  right: 20px;
}
.c_postnav ul.page-numbers {
  margin-top: 50px;
}
.c_postnav .page-numbers {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 600;
  padding: 0 15px;
}
.c_postnav .page-numbers a.prev,
.c_postnav .page-numbers a.next {
  display: none;
}

@media screen and (max-width: 767px) {
  .c_postnav {
    margin: 30px 0;
  }
}
/*----------------------------------------------
	.c_tbl
---------------------------------------------*/
.c_tbl__wide {
  margin-top: 30px;
  width: 100%;
}
.c_tbl__wide tr th {
  width: 190px;
  background: #EDF7FC;
  font-weight: 600;
  text-align: left;
}
.c_tbl__wide tr th, .c_tbl__wide tr td {
  padding: 5px 20px;
  border-top: 1px solid #CCCCCC;
}
.c_tbl__wide tr:last-child th, .c_tbl__wide tr:last-child td {
  border-bottom: 1px solid #CCCCCC;
}
.c_tbl__wide.is_nobd {
  line-height: 1.5;
}
.c_tbl__wide.is_nobd tr th {
  width: 150px;
}
.c_tbl__wide.is_nobd tr th, .c_tbl__wide.is_nobd tr td {
  border: 0;
  padding: 0 20px;
  height: 55px;
  vertical-align: middle;
}
.c_tbl__wide.is_nobd tr:last-child th, .c_tbl__wide.is_nobd tr:last-child td {
  border: 0;
}
.c_tbl__wide.is_style2 {
  margin-top: 20px;
  width: 100%;
}
.c_tbl__wide.is_style2 tr th {
  font-weight: 400;
  text-align: center;
}
.c_tbl__wide.is_style2 tr th, .c_tbl__wide.is_style2 tr td {
  padding: 2px 10px;
  border: 1px solid #E5E9ED;
}
.c_tbl.mb30 {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .c_tbl__wide {
    margin-top: 20px;
    font-size: 14px;
  }
  .c_tbl__wide tr th {
    width: 80px;
  }
  .c_tbl__wide tr th, .c_tbl__wide tr td {
    padding: 10px;
  }
  .c_tbl__wide.is_nobd {
    font-size: 16px;
    line-height: 2;
  }
  .c_tbl__wide.is_nobd tr th, .c_tbl__wide.is_nobd tr td {
    display: block;
    width: 100%;
    height: auto;
  }
  .c_tbl__wide.is_nobd tr th {
    width: 100%;
    text-align: center;
    padding: 3px 10px;
  }
  .c_tbl__wide.is_nobd tr td {
    padding: 10px 0;
  }
}
/*----------------------------------------------
	Project
---------------------------------------------*/
/*----------------------------------------------
	.p_pickup
---------------------------------------------*/
.p_pickup {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  overflow: hidden;
}

.p_pickup__item {
  padding: 0 5px;
}

.p_pickup__media {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.p_pickup__ttl {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.3;
  color: #61B2D7;
  margin-bottom: 10px;
}

.p_pickup__txt {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0 0 30px;
  position: relative;
}
.p_pickup__txt::before {
  position: absolute;
  content: "";
  width: 2px;
  height: calc(100% + 30px);
  top: -30px;
  left: 0;
  background: #63B1D5;
}
.p_pickup__txt p {
  padding-right: 13%;
}

.p_pickup__btn {
  display: flex;
  justify-content: flex-end;
}
.p_pickup__btn .c_btn {
  font-size: 14px;
  padding: 0 50px 0 0;
  width: auto;
  margin-top: 0;
}
.p_pickup__btn .c_btn:after {
  width: 25px;
  right: 10px;
}
.p_pickup__btn .c_btn:hover:after {
  right: 0;
}
.p_pickup__btn.mt20 {
  margin-top: 20px;
}

.p_pickup__slick .slick-slide {
  opacity: 0.3;
}
.p_pickup__slick .slick-slide.slick-current {
  opacity: 1;
}

.p_pickup__slick > div img {
  width: 100%;
}
.p_pickup__slick .slick-prev,
.p_pickup__slick .slick-next {
  top: 214px;
  left: 50%;
  margin-top: -21px;
  margin-left: -370px;
  width: 30px;
  height: 30px;
  border-top: 1px solid #63B1D5;
  border-left: 1px solid #63B1D5;
  transform: rotate(-45deg);
  z-index: 9;
  transition: all 0.3s;
}
.p_pickup__slick .slick-prev::before,
.p_pickup__slick .slick-next::before {
  display: none;
}
.p_pickup__slick .slick-prev:hover,
.p_pickup__slick .slick-next:hover {
  border-top: 1px solid #61B2D7;
  border-left: 1px solid #61B2D7;
  width: 40px;
  height: 40px;
}
.p_pickup__slick .slick-next {
  left: auto;
  right: 50%;
  margin-right: -370px;
  transform: rotate(135deg);
}

@media screen and (max-width: 767px) {
  .p_pickup__txt {
    width: 90%;
    padding: 15px 0 0 15px;
    font-size: 14px;
  }
  .p_pickup__txt p {
    padding-right: 0;
    line-height: 1.6;
  }

  .p_pickup__ttl {
    font-size: 16px;
  }

  .p_pickup__btn .c_btn {
    margin: 10px 0 0;
  }
  .p_pickup__btn.mt20 {
    margin-top: 0;
  }

  .p_pickup__slick .slick-prev,
.p_pickup__slick .slick-next {
    margin-top: -15px;
    width: 20px;
    height: 20px;
    margin-left: 0;
    left: 20px;
  }
  .p_pickup__slick .slick-prev:hover,
.p_pickup__slick .slick-next:hover {
    width: 25px;
    height: 25px;
  }

  .p_pickup__slick .slick-next {
    margin-right: 0;
    left: auto;
    right: 20px;
  }
}
@media screen and (max-width: 575px) {
  .p_pickup__slick .slick-prev,
.p_pickup__slick .slick-next {
    margin-top: -8px;
    width: 15px;
    height: 15px;
  }
  .p_pickup__slick .slick-prev:hover,
.p_pickup__slick .slick-next:hover {
    width: 20px;
    height: 20px;
  }
}
/*----------------------------------------------
	.p_menu
---------------------------------------------*/
.p_menu__list {
  margin: 0 0 100px;
  display: flex;
}
.p_menu__list li {
  flex: 1;
  text-align: center;
  font-size: 18px;
  padding: 0 10px;
}
.p_menu__list li a {
  display: block;
  font-weight: 500;
  color: #61B2D7;
  border-bottom: 1px solid #CCCCCC;
  position: relative;
  padding: 10px 0;
  text-decoration: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}
.p_menu__list li a::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 15px;
  background: #555555;
  bottom: -8px;
  left: 50%;
  transition: all 0.3s;
}
.p_menu__list li a:hover::after, .p_menu__list li a.current:hover::after {
  height: 20px;
  bottom: -15px;
}

.p_menu__box {
  padding: 40px;
  border: 1px solid #CCCCCC;
}
.p_menu__box .p_menu__box__ttl {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  letter-spacing: 0.1em;
}
.p_menu__box .p_menu__box__list {
  text-align: center;
}
.p_menu__box .p_menu__box__list ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  display: inline-block;
  text-align: left;
  margin: 0;
  padding: 0;
  clear: both;
  overflow: hidden;
}
.p_menu__box .p_menu__box__list ul li {
  padding-left: 30px;
  position: relative;
  margin: 0 50px 5px;
}
.p_menu__box .p_menu__box__list ul li:last-child {
  margin-bottom: 0;
}
.p_menu__box .p_menu__box__list ul li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 12px;
  height: 6px;
  border-left: 1px solid #61B2D7;
  border-bottom: 1px solid #61B2D7;
  transform: rotate(-45deg);
}

@media screen and (max-width: 767px) {
  .p_menu__list {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .p_menu__list li {
    font-size: 16px;
    flex: unset;
    width: 160px;
    max-width: 50%;
    margin-bottom: 20px;
  }
  .p_menu__list li a {
    color: #61B2D7;
  }

  .p_menu__box {
    padding: 20px;
  }
  .p_menu__box .p_menu__box__ttl {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .p_menu__box .p_menu__box__list {
    text-align: left;
  }
  .p_menu__box .p_menu__box__list ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
  .p_menu__box .p_menu__box__list ul li {
    margin: 0 0 5px;
  }
}
@media screen and (max-width: 575px) {
  .p_menu__list {
    justify-content: space-between;
  }
  .p_menu__list li {
    width: 47%;
    padding: 0;
  }
}
/*----------------------------------------------
	.p_point
---------------------------------------------*/
.p_point {
  margin: 0 auto;
  max-width: 740px;
  background: rgba(255, 255, 255, 0.9);
  padding: 50px;
}
.p_point .p_point__ttl {
  font-size: 26px;
  margin-top: 110px;
}
.p_point .p_point__ttl span {
  position: relative;
}
.p_point .p_point__ttl span::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 100px;
  background: url(../img/icon-point.svg) no-repeat center;
  background-size: 100%;
  top: -110px;
  left: calc(50% - 30px);
}

@media screen and (max-width: 767px) {
  .p_point {
    padding: 30px 20px;
  }
  .p_point .p_point__ttl {
    font-size: 20px;
    text-align: left;
    margin-top: 80px;
  }
  .p_point .p_point__ttl span {
    text-align: center;
  }
  .p_point .p_point__ttl span:before {
    width: 40px;
    height: 70px;
    top: -80px;
    left: calc(50% - 20px);
  }
}
/*----------------------------------------------
	.p_case
---------------------------------------------*/
.p_case__list > li {
  display: flex !important;
}
.p_case__list .p_case__wrap {
  flex: 1;
  padding-left: 20px;
}
.p_case__list .p_case__wrap.is_single {
  padding-left: 40px;
}
.p_case__list .p_case__wrap.is_single .p_case__date {
  display: flex;
  justify-content: flex-end;
}
.p_case__list .p_case__wrap.is_single .p_case__tbl {
  margin-bottom: 30px;
}
.p_case__img {
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  font-size: 14px;
  text-align: center;
  color: #61B2D7;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}
.p_case__img li {
  width: calc(50% - 10px);
}
.p_case__img li img {
  display: block;
  width: 100%;
  max-width: 180px;
}
.p_case__img.is_single {
  flex-wrap: wrap;
}
.p_case__img.is_single li {
  margin-bottom: 10px;
}
.p_case__date {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.p_case__tbl {
  width: 100%;
  font-size: 14px;
  line-height: 1.6;
}
.p_case__tbl th {
  text-align: left;
  width: 100px;
  font-weight: 500;
}
.p_case__tbl th, .p_case__tbl td {
  border-bottom: 1px solid #CCCCCC;
  padding: 12px 0 5px;
}
.p_case__tbl td {
  padding-left: 20px;
}

.p_case__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.p_case__inner .p_case__ttl {
  letter-spacing: 0.1em;
  text-align: center;
  color: #61B2D7;
  font-weight: 500;
  font-size: 30px;
  position: absolute;
  top: -36px;
  left: 0;
  width: 100%;
}
.p_case__inner .p_case__item {
  width: calc(50% - 40px);
  background: #FFFFFF;
  padding: 50px 30px 30px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .p_case__list > li {
    flex-direction: column;
  }
  .p_case__list .p_case__wrap {
    padding-left: 0;
  }
  .p_case__list .p_case__wrap.is_single {
    padding-left: 0;
  }
  .p_case__list .p_case__wrap.is_single .p_case__tbl {
    margin-bottom: 20px;
  }
  .p_case__img {
    margin: 0 auto 10px;
    max-width: 100%;
  }

  .p_case__inner {
    flex-direction: column;
    margin-top: 30px;
  }
  .p_case__inner .p_case__item {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 40px 20px 30px;
  }
  .p_case__inner .p_case__ttl {
    font-size: 22px;
    top: -22px;
  }
}
/*----------------------------------------------
	.p_troubles
---------------------------------------------*/
.p_troubles {
  text-align: center;
}

.p_troubles__ttl {
  text-align: center;
}
.p_troubles__ttl span {
  margin-bottom: 15px;
}

.p_troubles__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.p_troubles__tabs li {
  width: 140px;
  transition: all 0.3s ease;
}

.p_troubles__tabs li a {
  border-radius: 50%;
  border: 1px solid #63B1D5;
  color: #61B2D7;
  display: inline-block;
  font-size: 30px;
  height: 140px;
  letter-spacing: 0.1em;
  line-height: 1.5;
  padding: 50px 0 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 100%;
}
.p_troubles__tabs li a span {
  color: #555555;
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
}
.p_troubles__tabs li a:before {
  content: "";
  height: 37px;
  left: 0;
  position: absolute;
  right: 0;
  top: 14px;
}

.p_troubles__tabs li.ui-tabs-active,
.p_troubles__tabs li.ui-state-hover {
  text-decoration: none;
  transform: scale(1.2);
}

.p_troubles__tabs li:first-child a:before {
  content: url("../img/icon-trouble01.svg");
}

.p_troubles__tabs li:nth-child(2) a:before {
  content: url("../img/icon-trouble02.svg");
}

.p_troubles__tabs li:nth-child(3) a:before {
  content: url("../img/icon-trouble03.svg");
}

.p_troubles__tabs li:nth-child(4) a:before {
  content: url("../img/icon-trouble04.svg");
}

.p_troubles__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 68px;
}

.p_troubles__menu li {
  width: calc((100% / 3) - 20px);
}

.p_troubles__menu li a {
  border-bottom: 1px solid #CCCCCC;
  color: #555555;
  display: inline-block;
  font-size: 18px;
  font-weight: 500px;
  padding: 25px 0;
  position: relative;
  transition: all 0.2s;
  width: 100%;
}
.p_troubles__menu li a:after {
  background: #555555;
  content: "";
  height: 1px;
  position: absolute;
  right: 25px;
  top: 50%;
  transition: all 0.3s;
  width: 25px;
}
.p_troubles__menu li a:hover {
  color: #61B2D7;
  text-decoration: none;
}
.p_troubles__menu li a:hover:after {
  background: #61B2D7;
  right: 10px;
}

@media screen and (max-width: 767px) {
  .p_troubles__tabs {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .p_troubles__tabs li {
    max-width: 140px;
    width: calc(50% - 20px);
    margin: 15px 10px;
  }

  .p_troubles__menu {
    margin-bottom: 30px;
  }
  .p_troubles__menu li {
    width: 100%;
  }
  .p_troubles__menu li a {
    padding: 10px 0;
    font-size: 16px;
  }
  .p_troubles__menu li a:after {
    right: 15px;
  }
}
/*----------------------------------------------
	.p_news
---------------------------------------------*/
.p_news {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.p_news__info {
  width: 230px;
  padding-bottom: 150px;
}

.p_news__ttl span {
  margin-bottom: 0;
}

.p_news__social {
  width: 230px;
  position: absolute;
  bottom: 75px;
  left: 0;
  display: flex;
  justify-content: flex-start;
}

.p_news__social li {
  padding-right: 17px;
}
.p_news__social li:last-child {
  padding-right: 0;
}
.p_news__social li img {
  display: block;
}

.p_news__social li a {
  display: block;
}

.p_news__list {
  width: 660px;
}
.p_news__list .c_btn {
  margin-top: 10px;
}

.p_news__list ul li {
  cursor: pointer;
  padding: 20px 0;
  border-bottom: 1px solid #CCCCCC;
  position: relative;
  transition: all 0.2s;
}
.p_news__list ul li:first-child {
  border-top: 1px solid #CCCCCC;
}
.p_news__list ul li:hover {
  text-decoration: none;
  opacity: 0.6;
}
.p_news__list ul li:after {
  position: absolute;
  content: "";
  width: 27px;
  height: 1px;
  background: #555555;
  right: 25px;
  top: 50%;
  transition: all 0.3s;
}
.p_news__list ul li:hover:after {
  right: 10px;
}
.p_news__list ul li.is_non:hover {
  cursor: unset;
  opacity: 1;
}

.p_news__list ul li a {
  color: #555555;
  display: inline-block;
  text-align: left;
}
.p_news__list ul li a:hover {
  text-decoration: none;
}

.p_news__date {
  color: #61B2D7;
  display: inline-block;
  min-width: 110px;
}

.p_news__bnr {
  text-align: center;
  margin-bottom: 20px;
}
.p_news__bnr a {
  display: inline-block;
  position: relative;
}
.p_news__bnr a:after {
  position: absolute;
  content: "";
  width: 25px;
  height: 1px;
  background: #61B2D7;
  right: 15px;
  top: calc(50% + 10px);
  transition: all 0.3s;
}
.p_news__bnr a:hover:after {
  right: 10px;
}
.p_news__bnr a img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .p_news {
    flex-direction: column;
  }

  .p_news__info {
    width: auto;
    padding-bottom: 20px;
  }

  .p_news__ttl {
    text-align: center;
  }
  .p_news__ttl span {
    margin-bottom: 10px;
  }

  .p_news__list {
    width: auto;
    font-size: 14px;
  }
  .p_news__list ul li {
    padding: 10px 0;
    padding-right: 50px;
  }
  .p_news__list ul li:after {
    width: 25px;
    right: 15px;
  }
  .p_news__list ul li:hover:after {
    right: 10px;
  }
  .p_news__list .c_btn {
    width: auto;
    padding-right: 50px;
  }
  .p_news__list .c_btn:after {
    right: 15px;
  }

  .p_news__social {
    position: static;
    width: auto;
    justify-content: center;
    align-items: center;
  }

  .p_news__date {
    width: auto;
    display: block;
    margin-bottom: 5px;
  }
}
/*----------------------------------------------
	.p_access
---------------------------------------------*/
.p_access__upper {
  background: url("../img/p_access__upper-img.jpg") no-repeat top center/cover;
  margin: 0 auto;
  max-width: 100%;
  padding: 85px 0 75px;
  text-align: right;
  width: 1280px;
}

.p_access__info {
  width: 300px;
  display: inline-block;
  text-align: left;
}

.p_access__ttl span {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .p_access__upper {
    background: none;
    width: auto;
    padding: 0;
  }
  .p_access__upper img {
    width: 100%;
  }

  .p_access__info {
    width: auto;
    display: block;
    padding: 30px 20px 0;
  }

  .p_access__ttl {
    text-align: center;
  }
  .p_access__ttl span {
    margin-bottom: 10px;
  }

  .p_clinic__btn .c_btn.is_small {
    max-width: 330px;
    width: 100%;
  }
}
/*----------------------------------------------
	.p_clinic
---------------------------------------------*/
.p_clinic {
  display: flex;
  justify-content: space-between;
  margin: 45px auto 107px;
}
.p_clinic__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 288px;
}
.p_clinic__item:after {
  background-color: #CCCCCC;
  content: "";
  height: 100%;
  position: absolute;
  right: -25px;
  top: 0;
  width: 1px;
}
.p_clinic__item:last-child:after {
  background-color: transparent;
}
.p_clinic__ttl {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 10px;
  position: relative;
}
.p_clinic__ttl img {
  clear: both;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 10px;
}
.p_clinic__ttl span {
  display: block;
  font-size: 18px;
}
.p_clinic__contents {
  font-size: 14px;
  text-align: center;
}
.p_clinic__subttl {
  color: #61B2D7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.p_clinic__tel {
  color: #61B2D7;
  font-size: 32px;
  font-weight: 700;
}
.p_clinic__tel span {
  padding-left: 35px;
  position: relative;
}
.p_clinic__tel span img {
  left: 0;
  position: absolute;
  top: 10px;
}
.p_clinic__time {
  padding-bottom: 10px;
}
.p_clinic__address {
  padding-bottom: 5px;
}
.p_clinic__link {
  padding-bottom: 10px;
}
.p_clinic__link a {
  clear: both;
  color: #61B2D7;
  display: block;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
  transition: all 0.2s;
}
.p_clinic__link a:hover {
  opacity: 0.6;
  text-decoration: none;
}
.p_clinic__btn {
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .p_clinics {
    padding: 0 20px;
  }

  .p_clinic {
    flex-direction: column;
    margin: 0 auto;
  }

  .p_clinic__item {
    width: auto;
    padding: 30px 0;
    border-bottom: 1px solid #CCCCCC;
  }
  .p_clinic__item:last-child {
    border-bottom: 0;
  }
  .p_clinic__item:after {
    display: none;
  }

  .p_clinic__btn {
    width: 100%;
  }
  .p_clinic__btn .c_btn.is_small {
    width: 100%;
    max-width: 330px;
  }

  .p_clinic__ttl {
    font-size: 18px;
    padding-bottom: 0;
  }
  .p_clinic__ttl span {
    display: inline-block;
  }

  .p_clinic__tel {
    font-size: 25px;
    line-height: 1.5;
  }
  .p_clinic__tel span {
    padding-left: 25px;
  }
  .p_clinic__tel span img {
    width: 20px;
  }

  .p_clinic__time,
.p_clinic__address,
.p_clinic__link {
    padding-bottom: 0;
  }

  .p_clinic__address {
    text-align: left;
  }
}
/*----------------------------------------------
	.p_recruit
---------------------------------------------*/
.p_recruit__ttl {
  margin-bottom: 25px;
}
.p_recruit__ttl div {
  display: inline-block;
  text-align: center;
}
.p_recruit__ttl span {
  margin-bottom: 0;
}

.p_recruit__item {
  position: relative;
}

.p_recruit__wrapper {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  text-align: right;
  width: 960px;
}

.p_recruit__content {
  display: inline-block;
  padding: 60px 0 70px 70px;
  text-align: left;
  width: 50%;
}

.p_recruit__txt {
  padding-bottom: 130px;
}

.p_recruit--media {
  background-color: #fafbfc;
  width: calc((100% / 2));
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  text-align: right;
}
.p_recruit--media img {
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .p_recruit--media {
    position: static;
    width: auto;
  }
  .p_recruit--media img {
    width: 100%;
    height: auto;
    display: block;
  }

  .p_recruit__content {
    width: auto;
    padding: 30px 20px;
    display: block;
  }

  .p_recruit__ttl {
    text-align: center;
  }
  .p_recruit__ttl span {
    margin-bottom: 15px;
  }

  .p_recruit__txt {
    padding-bottom: 20px;
  }
}
/*----------------------------------------------
	.p_flow
---------------------------------------------*/
.p_flow__head {
  margin-bottom: 30px;
}
.p_flow__steps li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}
.p_flow__steps li:last-child .p_flow__txt {
  padding-top: 15px;
}
.p_flow__step {
  font-size: 20px;
  font-weight: 600;
  line-height: 2;
}
.p_flow__step small {
  color: #61B2D7;
  display: block;
  font-size: 14px;
  font-weight: 500;
}
.p_flow__txt {
  text-align: left;
  width: calc(100% - 220px);
  position: relative;
}
.p_flow__txt:before {
  background-color: #CCCCCC;
  content: "";
  height: 100%;
  left: -30px;
  position: absolute;
  top: 0;
  width: 1px;
}
.p_flow__ttl {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 15px;
  text-align: center;
}
.p_flow__notes li {
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}
.p_flow__notes li span {
  flex: 1;
}
.p_flow__notes li span:first-child {
  font-weight: 600;
}
.p_flow__notes li span:last-child {
  text-align: left;
  width: calc(100% - 220px);
  flex: none;
}
.p_flow__contact {
  margin-top: 20px;
}
.p_flow__contact li a {
  pointer-events: none;
}
.p_flow__contact li a:hover {
  text-decoration: none;
}
.p_flow__contact .p_contact__name {
  font-size: 14px;
  color: #555555;
}
.p_flow__contact .p_contact__tel {
  font-size: 22px;
  line-height: 1.5;
  position: relative;
  padding-left: 25px;
}
.p_flow__contact .p_contact__tel::before {
  position: absolute;
  content: "";
  width: 19px;
  height: 21px;
  background: url(../img/icon-tel.svg) no-repeat center center;
  background-size: contain;
  top: 6px;
  left: 0;
}
.p_flow .p_contact__time {
  text-align: right;
}
.p_flow .p_flow__btns {
  display: flex;
  justify-content: space-between;
}
.p_flow .p_flow__btns .c_btn {
  font-size: 16px;
  margin-top: 20px;
  width: calc(50% - 15px);
}
.p_flow .p_flow__btns .c_btn::after {
  width: 30px;
  right: 15px;
}
.p_flow .p_flow__btns .c_btn:hover::after {
  right: 8px;
}
.p_flow .p_flow__box {
  background: #fafafa;
  display: block;
  padding: 40px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .p_flow {
    margin-top: 40px;
  }
  .p_flow__contact {
    margin-top: 20px;
  }
  .p_flow__contact li {
    width: 32.33%;
  }
  .p_flow__contact li a {
    pointer-events: initial;
    background-color: #61B2D7;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p_flow__contact .p_contact__name {
    color: #FFFFFF;
    position: relative;
    padding-left: 20px;
  }
  .p_flow__contact .p_contact__name::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 16px;
    background: url(../img/icon-tel-white.svg) no-repeat center center;
    background-size: contain;
    top: 0;
    left: 0;
  }
  .p_flow__contact .p_contact__tel {
    display: none;
  }
  .p_flow .p_contact__time {
    text-align: center;
    margin-top: 5px;
  }
  .p_flow .p_flow__btns {
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .p_flow .p_flow__btns .c_btn {
    min-width: 280px;
    margin: 10px auto 0;
  }
  .p_flow .p_flow__box {
    padding: 20px;
  }

  .p_flow__steps li {
    flex-direction: column;
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 15px;
  }
  .p_flow__steps li:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 20px;
    background: #CCCCCC;
    bottom: 0;
    left: 50%;
  }
  .p_flow__steps li:last-child:after {
    display: none;
  }
  .p_flow__steps li:last-child .p_flow__txt {
    padding-top: 0;
  }

  .p_flow__step {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
  }

  .p_flow__txt {
    width: 100%;
  }
  .p_flow__txt:before {
    display: none;
  }

  .p_flow__notes {
    margin-bottom: 30px;
  }
  .p_flow__notes li span:last-child {
    width: calc(100% - 200px);
  }
}
@media screen and (max-width: 575px) {
  .p_flow__notes li {
    font-size: 14px;
  }
  .p_flow__notes li span:last-child {
    width: calc(100% - 120px);
    padding-left: 20px;
  }
}
/*----------------------------------------------
	.p_flow .p_flow__steps-b
---------------------------------------------*/
.p_flow__steps-b > li {
  position: relative;
  padding-left: 330px;
  min-height: 246px;
  margin-bottom: 60px;
}
.p_flow__steps-b > li .p_flow__img {
  position: absolute;
  max-width: 300px;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
}
.p_flow__steps-b > li .p_flow__img::after {
  position: absolute;
  width: 1px;
  height: 40px;
  background: #61B2D7;
  bottom: -20px;
  left: 50%;
  content: "";
}
.p_flow__steps-b > li .p_flow__img img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.p_flow__steps-b > li > div {
  flex: 1;
}
.p_flow__steps-b > li:last-child {
  margin-bottom: 0;
}
.p_flow__steps-b > li:last-child .p_flow__img::after {
  display: none;
}
.p_flow__steps-b .p_flow__step {
  display: block;
  position: relative;
  line-height: 1.8;
  padding-bottom: 15px;
  margin-bottom: 15px;
  letter-spacing: 0.1em;
}
.p_flow__steps-b .p_flow__step:after {
  position: absolute;
  content: "";
  width: 55px;
  height: 1px;
  background: #CCCCCC;
  bottom: 0;
  left: 0;
}
.p_flow__steps-b .p_flow__txt::before {
  display: none;
}

@media screen and (max-width: 767px) {
  .p_flow__steps-b li {
    padding-left: 0;
    min-height: auto;
  }
  .p_flow__steps-b li .p_flow__img {
    position: static;
    margin: 0 auto 20px;
    min-width: 150px;
    width: 40%;
    padding-right: 20px;
    display: inline-block;
    vertical-align: top;
  }
  .p_flow__steps-b li .p_flow__img::after {
    height: 30px;
    bottom: -45px;
  }
  .p_flow__steps-b .p_flow__step {
    text-align: left;
    display: inline-block;
    vertical-align: top;
  }
  .p_flow__steps-b .p_flow__content {
    width: 100%;
  }
}
/*----------------------------------------------
	.p_faq
---------------------------------------------*/
.p_faq {
  text-align: left;
}
.p_faq > ul > li {
  padding-bottom: 40px;
}
.p_faq > ul > li:last-child {
  padding-bottom: 0;
}
.p_faq__quest {
  border-bottom: 1px solid #CCCCCC;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 0 0 20px 50px;
  position: relative;
}
.p_faq__ans {
  padding: 0 40px 20px 50px;
  position: relative;
}
.p_faq__quest > span, .p_faq__ans > span {
  color: #61B2D7;
  font-size: 30px;
  font-weight: 500;
  left: 0;
  line-height: normal;
  position: absolute;
  top: -4px;
}
.p_faq__ans > span {
  color: #E09AB2;
}
.p_faq__box {
  background: #EDF7FC;
  margin-top: 20px;
  padding: 40px 20px;
  text-align: center;
}
.p_faq__contact {
  margin-top: 30px;
}
.p_faq__contact li a {
  pointer-events: none;
  color: #555555;
}
.p_faq__contact li a:hover {
  text-decoration: none;
}
.p_faq__contact .p_contact__name {
  font-size: 16px;
}
.p_faq__contact .p_contact__tel {
  line-height: 1.5;
}
.p_faq__contact .p_contact__tel span {
  position: relative;
  padding-left: 28px;
  color: #61B2D7;
}
.p_faq__contact .p_contact__tel span::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 24px;
  background: url(../img/icon-tel.svg) no-repeat center center;
  background-size: contain;
  top: 8px;
  left: 0;
}
.p_faq__btns {
  display: flex;
  justify-content: center;
}
.p_faq__btns .c_btn {
  font-size: 16px;
  margin: 20px 15px 0;
  width: calc(50% - 15px);
  max-width: 300px;
}
.p_faq__btns .c_btn::after {
  width: 30px;
  right: 15px;
}
.p_faq__btns .c_btn:hover::after {
  right: 8px;
}
.p_faq__logo {
  margin-top: 20px;
}
.p_faq__logo ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .p_faq > p {
    margin-bottom: 20px;
  }
  .p_faq > ul > li {
    padding-bottom: 30px;
  }
  .p_faq > ul > li:last-child {
    padding-bottom: 30px;
  }
  .p_faq__btns {
    flex-direction: column;
  }
  .p_faq__btns .c_btn {
    width: 100%;
    margin: 10px auto 0;
  }
  .p_faq__contact {
    margin-top: 20px;
  }
  .p_faq__contact li {
    width: 32.33%;
  }
  .p_faq__contact li a {
    pointer-events: initial;
    background-color: #61B2D7;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p_faq__contact .p_contact__name {
    color: #FFFFFF;
    position: relative;
    padding-left: 20px;
    font-size: 14px;
  }
  .p_faq__contact .p_contact__name::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 16px;
    background: url(../img/icon-tel-white.svg) no-repeat center center;
    background-size: contain;
    top: 0;
    left: 0;
  }
  .p_faq__contact .p_contact__tel,
.p_faq__contact .p_contact__time {
    display: none;
  }
  .p_faq .p_contact__time {
    margin-top: 5px;
  }
  .p_faq__logo ul li {
    margin-bottom: 10px;
  }
  .p_faq__logo ul a {
    display: block;
  }
  .p_faq__logo img {
    max-width: 70px;
  }

  .p_faq__quest > span,
.p_faq__ans > span {
    font-size: 20px;
    top: 2px;
  }

  .p_faq__quest {
    padding: 0 0 10px 30px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .p_faq__ans {
    padding: 0 0 0 30px;
  }

  .p_faq__box {
    padding: 20px;
    width: calc(100% + 30px);
    margin-left: -30px;
  }
}
@media screen and (max-width: 575px) {
  .p_faq_logo ul li {
    width: 33.33%;
    text-align: center;
  }

  .p_faq__contact .p_contact__name {
    padding: 20px 0 0;
  }
  .p_faq__contact .p_contact__name::before {
    top: 0;
    left: calc(50% - 6px);
  }
}
/*----------------------------------------------
	.p_charges
---------------------------------------------*/
.p_charges__list {
  font-weight: 500;
  text-align: left;
}
.p_charges__list li {
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  margin-bottom: 30px;
  padding: 10px;
}
.p_charges__list li:last-child {
  margin-bottom: 15px;
}
.p_charges__list.is_3cols .p_charges__method {
  width: 180px;
}
.p_charges__list.is_3cols .p_charges__price,
.p_charges__list.is_3cols .p_charges__fee {
  width: 200px;
}
.p_charges__course {
  flex: 1;
  padding: 0 20px;
}
.p_charges__method {
  text-align: left;
  width: calc(100% - 220px);
}
.p_charges__price {
  font-size: 24px;
  line-height: 1.5;
}
.p_charges__price small {
  font-size: 80%;
}
.p_charges__note {
  font-size: 14px;
  padding-bottom: 20px;
  text-align: right;
}
.p_charges .c_btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.p_charges small {
  font-size: 80%;
}

@media screen and (max-width: 767px) {
  .p_charges__list li {
    padding: 5px 0;
    margin-bottom: 10px;
    flex-direction: column;
  }
  .p_charges__list li:first-child {
    font-size: 14px;
  }
  .p_charges__list li:first-child .p_charges__fee {
    display: none;
  }
  .p_charges__list li:last-child {
    margin-bottom: 10px;
  }
  .p_charges__list li .p_charges__fee {
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
  }
  .p_charges__list.is_3cols .p_charges__method {
    width: auto;
  }
  .p_charges__list.is_3cols .p_charges__price,
.p_charges__list.is_3cols .p_charges__fee {
    width: auto;
  }

  .p_charges__course {
    flex: auto;
    width: auto;
    padding: 0;
  }

  .p_charges__method {
    width: auto;
    line-height: 1.5;
  }

  .p_charges__price {
    font-size: 24px;
    text-align: right;
    line-height: 1;
    margin: 5px 0 10px;
  }
  .p_charges__price small {
    font-size: 20px;
  }

  .p_charges__note {
    padding-bottom: 0;
  }
}
/*----------------------------------------------
	.p_contact
---------------------------------------------*/
.p_contact__txt {
  padding: 45px 0 40px;
  text-align: center;
}
.p_contact__menus {
  display: flex;
  justify-content: space-around;
}
.p_contact__menus li {
  width: 410px;
}
.p_contact__menus li a {
  background-color: #61B2D7;
  border: none;
  color: #FFFFFF;
  width: 100%;
}
.p_contact__menus li a img {
  left: 20px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}
.p_contact__menus li a:after {
  background: #F7FBFD;
}
.p_contact__menus li:last-child a img {
  margin-top: -7px;
}
.p_contact__info {
  padding-top: 65px;
}
.p_contact__ttl {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 25px;
  text-align: center;
}
.p_contact__inquiries {
  display: flex;
  justify-content: space-between;
}
.p_contact__name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}
.p_contact__name span {
  color: #61B2D7;
  font-size: 12px;
}
.p_contact__tel {
  color: #61B2D7;
  font-size: 26px;
  font-weight: 700;
}
.p_contact__tel span {
  padding-left: 27px;
  position: relative;
}
.p_contact__tel span img {
  left: 0;
  position: absolute;
  top: 9px;
  width: 22px;
}
.p_contact__time {
  font-size: 14px;
}
.p_contact__box .is_justify-c {
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .p_contact__txt {
    text-align: left;
    padding: 20px 0;
  }

  .p_contact__menus {
    flex-direction: column;
    align-items: center;
  }
  .p_contact__menus li {
    width: 100%;
    max-width: 400px;
  }
  .p_contact__menus li a img {
    width: 20px;
  }
  .p_contact__menus .c_btn {
    font-size: 16px;
  }
  .p_contact__menus.is_style2 {
    display: flex;
  }
  .p_contact__menus.is_style2 .c_btn:after {
    display: none;
  }

  .p_contact__info {
    padding-top: 30px;
  }

  .p_contact__subtxt {
    font-size: 14px;
    text-align: center;
  }

  .p_contact__box {
    width: 100%;
    margin-left: 0;
  }

  .p_contact__box .is_justify-c {
    margin-top: 5px;
  }
}
/*----------------------------------------------
	.p_list
---------------------------------------------*/
.p_list__1col > li {
  margin-bottom: 30px;
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}
.p_list__1col > li:last-of-type {
  margin-bottom: 0;
}
.p_list__2col {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  column-gap: 50px;
  text-align: left;
  margin: 0;
  padding: 0;
  clear: both;
  overflow: hidden;
  page-break-inside: avoid;
  break-inside: avoid-column;
}
.p_list__2col > li {
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
  page-break-inside: avoid;
  break-inside: avoid-column;
}
.p_list__dot {
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
  page-break-inside: avoid;
  break-inside: avoid-column;
}
.p_list__dot li {
  position: relative;
  padding-left: 20px;
  line-height: 1.6;
  margin-bottom: 15px;
}
.p_list__dot li::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #61B2D7;
}
.p_list__dot li:last-child {
  margin-bottom: 0;
}
.p_list__dot li a {
  color: #555555;
}
.p_list__wide > ul > li {
  margin-bottom: 60px;
  display: block;
}
.p_list__wide > ul > li:last-of-type {
  margin-bottom: 0;
}

.p_list__menus ul li {
  display: inline-block;
}
.p_list__menus ul li::after {
  content: ",";
  margin-right: 5px;
}
.p_list__menus ul li:last-child::after {
  display: none;
}

.p_list__tbl__row {
  margin-top: 50px;
}
.p_list__tbl__row.f_anchor::before {
  height: 180px;
  margin-top: -180px;
}

.p_list__order {
  text-align: center;
}
.p_list__order ul {
  display: inline-block;
  text-align: left;
}
.p_list__order ul li {
  position: relative;
  padding-left: 35px;
}
.p_list__order ul li span {
  position: absolute;
  top: 0;
  left: 0;
  color: #61B2D7;
}
.p_list__order.is_order2 {
  text-align: left;
}
.p_list__order.is_order2 ul {
  display: block;
}

.p_list__head {
  position: relative;
  cursor: pointer;
  padding-right: 50px;
}
.p_list__head::after {
  position: absolute;
  content: "";
  right: 20px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #61B2D7;
  border-left: 2px solid #61B2D7;
  top: 16px;
  transform: rotate(-135deg);
  z-index: 9;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  cursor: pointer;
}
.p_list__head.active::after {
  transform: rotate(45deg);
  top: 24px;
}

.p_list__inner {
  display: none;
}

@media screen and (max-width: 767px) {
  .p_list__1col > li {
    margin-bottom: 15px;
  }
  .p_list__2col {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
  .p_list__dot li {
    margin-bottom: 10px;
  }
  .p_list__wide > ul > li {
    margin-bottom: 30px;
  }

  .p_list__tbl__row {
    margin-top: 30px;
  }

  .p_list__order ul {
    display: block;
  }
  .p_list__order ul li {
    padding-left: 25px;
  }

  .p_list__head {
    padding-right: 28px;
  }
  .p_list__head::after {
    width: 8px;
    height: 8px;
    top: 14px;
    right: 10px;
  }
  .p_list__head.active::after {
    top: 18px;
  }
}
/*----------------------------------------------
	.p_section
---------------------------------------------*/
.p_section {
  display: block;
  overflow: hidden;
}

.p_section__img {
  float: right;
  margin-right: -160px;
}

.p_section__inner {
  max-width: 530px;
  width: 100%;
  padding: 20px 0;
}

.p_section__txt p {
  margin-bottom: 15px;
}
.p_section__txt p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .p_section__about {
    display: flex;
    flex-direction: column-reverse;
  }

  .p_section__img {
    float: none;
    width: calc(100% + 40px);
    max-width: 400px;
    align-self: flex-end;
    margin: 0 -20px;
  }

  .p_section__inner {
    max-width: 100%;
  }
}
/*----------------------------------------------
	.p_feature
---------------------------------------------*/
.p_feature__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.p_feature__item .p_feature__img {
  width: 100%;
  margin-left: 70px;
}
.p_feature__item .p_feature__img img {
  width: 410px;
  display: block;
}
.p_feature__item:nth-child(2n) {
  flex-direction: row-reverse;
}
.p_feature__item:nth-child(2n) .p_feature__img {
  margin-left: 0;
  margin-right: 70px;
}
.p_feature__item:last-child {
  margin-bottom: 0;
}

.p_feature__content {
  padding: 10px 0;
}
.p_feature__content h3 {
  font-size: 30px;
  font-weight: 500;
  position: relative;
  padding-left: 80px;
  min-height: 90px;
  line-height: 1.5;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
}
.p_feature__content h3 span {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 100px;
  color: #C6E7F5;
  line-height: 0.8;
}

@media screen and (max-width: 767px) {
  .p_feature__item {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .p_feature__item .p_feature__img {
    margin: 0 auto;
    max-width: 410px;
    width: 100%;
  }
  .p_feature__item .p_feature__img img {
    width: 100%;
  }
  .p_feature__item:nth-child(2n) {
    flex-direction: column;
  }
  .p_feature__item:nth-child(2n) .p_feature__img {
    margin: 0 auto;
  }

  .p_feature__content h3 {
    font-size: 20px;
    padding-left: 50px;
    min-height: 60px;
    margin-bottom: 10px;
  }
  .p_feature__content h3 span {
    font-size: 65px;
  }
}
/*----------------------------------------------
	.p_treatment
---------------------------------------------*/
.p_treatment__head {
  text-align: center;
}
.p_treatment__head .c_ttl {
  text-align: center;
}

.p_treatment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.p_treatment__item {
  width: calc(50% - 15px);
}
.p_treatment__item:nth-child(2n) {
  position: relative;
  top: 50px;
}
.p_treatment__inner {
  background-image: linear-gradient(0, white, #edf7fc);
  margin-top: 80px;
  position: relative;
  padding: 60px 20px 30px;
}
.p_treatment__inner .p_treatment__num {
  position: absolute;
  left: 20px;
  top: -50px;
  font-size: 100px;
  color: #C6E7F5;
  line-height: 0.8;
}
.p_treatment__content h3 {
  font-size: 26px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
}

.p_treatment__bottom {
  text-align: center;
  margin-top: 100px;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 767px) {
  .p_treatment__head {
    text-align: left;
  }
  .p_treatment__head .c_ttl {
    text-align: left;
  }

  .p_treatment {
    display: block;
  }
  .p_treatment__item {
    width: 100%;
  }
  .p_treatment__item:nth-child(2n) {
    top: 0;
  }
  .p_treatment__inner {
    margin-top: 40px;
    padding: 40px 20px 20px;
  }
  .p_treatment__inner .p_treatment__num {
    left: 20px;
    top: -35px;
    font-size: 60px;
    line-height: 1;
  }
  .p_treatment__content h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .p_treatment__bottom {
    margin-top: 30px;
    font-size: 18px;
  }
  .p_treatment__bottom p {
    margin-bottom: 20px;
  }
  .p_treatment__bottom .c_btn {
    font-size: 16px;
  }
  .p_treatment__bottom .c_btn.is_custom > img {
    right: 5px;
  }
}
/*----------------------------------------------
	.p_doctor
---------------------------------------------*/
.p_doctor__item {
  padding-bottom: 80px;
  margin-bottom: 80px;
  position: relative;
}
.p_doctor__item::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 1px;
  background: #61B2D7;
  bottom: 0;
  left: 0;
}
.p_doctor__item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
.p_doctor__item:last-child::after {
  display: none;
}

.p_doctor__head {
  font-size: 26px;
  line-height: 1.6;
}
.p_doctor__head .c_ttl {
  letter-spacing: 0;
  margin-bottom: 20px;
}
.p_doctor__head .c_ttl span {
  display: inline-block;
  font-size: 16px;
  color: #61B2D7;
  margin-left: 15px;
  margin-bottom: 0;
  letter-spacing: 0.1em;
  vertical-align: middle;
}
.p_doctor__head .c_ttl small {
  font-size: 20px;
  display: block;
}

.p_doctor__spec {
  font-size: 18px;
  display: flex;
}
.p_doctor__spec span {
  padding: 0 20px 3px;
  flex: 1;
  background: #EDF7FC;
  line-height: 1.8;
}
.p_doctor__spec span:first-child {
  flex: none;
  background: #61B2D7;
  color: #FFFFFF;
  padding: 0 10px 3px;
  min-width: 100px;
  text-align: center;
}

.p_doctor__content {
  overflow: hidden;
  margin-top: 40px;
}
.p_doctor__content p {
  margin-bottom: 15px;
}
.p_doctor__content h3 {
  font-size: 26px;
  color: #61B2D7;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1.5;
  margin-bottom: 20px;
}
.p_doctor__content h4 {
  font-size: 22px;
  color: #61B2D7;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1.5;
  margin-bottom: 15px;
}
.p_doctor__content h5 {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 10px;
}
.p_doctor__content .p_doctor__img {
  width: 300px;
  line-height: 1.5;
}
.p_doctor__content .p_doctor__img img {
  width: 100%;
}
.p_doctor__content .p_doctor__img small {
  font-size: 14px;
}
.p_doctor__content .p_doctor__img.is_right {
  float: right;
  margin: 0 0 20px 30px;
}
.p_doctor__content .p_doctor__img.is_left {
  float: left;
  margin: 0 30px 20px 0;
}
.p_doctor__content .p_doctor__img.is_center {
  float: none;
  display: block;
  margin: 10px auto;
}

.p_doctor__other {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.p_doctor__other > div {
  width: calc(50% - 20px);
}
.p_doctor__other h4 {
  border-bottom: 1px solid #CCCCCC;
  color: #61B2D7;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.8;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
}
.p_doctor__other .p_doctor__career table th {
  color: #61B2D7;
}
.p_doctor__other .p_doctor__career table td {
  padding-left: 25px;
}
.p_doctor__other .p_doctor__aff ul li {
  position: relative;
  padding-left: 15px;
  line-height: 1.6;
  margin-bottom: 15px;
}
.p_doctor__other .p_doctor__aff ul li::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #61B2D7;
}
.p_doctor__other .p_doctor__aff ul li:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .p_doctor__item {
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  .p_doctor__item::after {
    width: 70px;
  }

  .p_doctor__head {
    font-size: 16px;
  }
  .p_doctor__head .c_ttl {
    font-size: 22px;
  }
  .p_doctor__head .c_ttl span {
    display: block;
    font-size: 14px;
    margin: 5px 0;
  }
  .p_doctor__head .c_ttl small {
    font-size: 16px;
  }

  .p_doctor__spec {
    font-size: 16px;
    display: block;
  }
  .p_doctor__spec span {
    display: block;
    padding: 5px 10px;
  }
  .p_doctor__spec span:first-child {
    padding: 0 10px;
  }

  .p_doctor__content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .p_doctor__content h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .p_doctor__content h4 {
    font-size: 18px;
  }
  .p_doctor__content .p_doctor__text-img {
    display: flex;
    flex-direction: column;
  }
  .p_doctor__content .p_doctor__img {
    order: 9;
    float: none;
    margin: 15px auto;
    max-width: 220px;
    width: 100%;
  }
  .p_doctor__content .p_doctor__img.is_right, .p_doctor__content .p_doctor__img.is_left, .p_doctor__content .p_doctor__img.is_center {
    float: none;
    margin: 15px auto 25px;
  }
  .p_doctor__content p {
    margin-bottom: 10px;
  }
  .p_doctor__content p:last-of-type {
    margin-bottom: 0;
  }

  .p_doctor__other {
    display: block;
    font-size: 14px;
    margin-top: 20px;
  }
  .p_doctor__other h4 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .p_doctor__other > div {
    width: 100%;
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .p_doctor__other > div:last-of-type {
    margin-bottom: 0;
  }
  .p_doctor__other .p_doctor__career table th {
    width: 55px;
    text-align: left;
  }
  .p_doctor__other .p_doctor__career table td {
    padding-left: 10px;
  }
  .p_doctor__other .p_doctor__aff ul li {
    margin-bottom: 10px;
  }
  .p_doctor__other .p_doctor__aff ul li::before {
    top: 8px;
  }
}
/*----------------------------------------------
	.p_detail
---------------------------------------------*/
.p_detail__item {
  margin-bottom: 50px;
}
.p_detail__content {
  margin-top: 30px;
  overflow: hidden;
}
.p_detail__map {
  margin-top: 20px;
  text-align: center;
}
.p_detail__logo {
  margin-top: 0;
}
.p_detail__logo img {
  width: 56px;
}
.p_detail__logo ul {
  justify-content: center;
}
.p_detail__logo ul li {
  margin-right: 30px;
}
.p_detail__logo ul li:last-of-type {
  margin-right: 0;
}
.p_detail__logo-ttl {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}
.p_detail__boxed-txt {
  margin-bottom: 20px;
}
.p_detail__boxed-txt span {
  display: inline-block;
  border: 1px solid #61B2D7;
  color: #61B2D7;
  padding: 2px 20px;
}
.p_detail__box {
  display: flex;
  align-items: center;
  background: #EDF7FC;
  padding: 40px 50px;
  margin-top: 30px;
}
.p_detail__box > div {
  flex: 1;
}
.p_detail__box > div:nth-child(2) {
  text-align: right;
}
.p_detail__box-phone {
  margin-top: 20px;
}
.p_detail__box-phone img {
  float: left;
  margin: 10px 20px 0 0;
}

@media screen and (max-width: 767px) {
  .p_detail__item {
    margin-bottom: 30px;
  }
  .p_detail__content {
    margin-top: 15px;
  }
  .p_detail__map .c_btn {
    margin-top: 20px;
  }
  .p_detail__logo {
    margin-bottom: 10px;
  }
  .p_detail__logo:last-of-type {
    margin-bottom: 0;
  }
  .p_detail__logo ul {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .p_detail__box {
    display: block;
    padding: 20px;
    margin-top: 20px;
  }
  .p_detail__box > div:nth-child(2) {
    margin-top: 30px;
  }
  .p_detail__box-phone {
    margin-top: 20px;
  }
  .p_detail__box-phone img {
    margin: 5px 10px 20px 0;
  }
}
/*----------------------------------------------
	.p_detail-b
---------------------------------------------*/
.p_detail-b h3 {
  letter-spacing: 0;
}

.p_detail__thumbnail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.p_detail__thumbnail li {
  display: block;
  width: calc(50% - 15px);
  margin-bottom: 40px;
}
.p_detail__thumbnail li:last-child, .p_detail__thumbnail li:nth-last-child(2) {
  margin-bottom: 0;
}
.p_detail__thumbnail li img {
  width: 100%;
  max-width: 465px;
  margin: 0 auto 10px;
  display: block;
}
.p_detail__thumbnail li h4 {
  color: #61B2D7;
  font-weight: 600;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 767px) {
  .p_detail__thumbnail {
    flex-direction: column;
  }
  .p_detail__thumbnail li {
    width: 100%;
    margin-bottom: 25px;
  }
  .p_detail__thumbnail li:nth-last-child(2) {
    margin-bottom: 25px;
  }
  .p_detail__thumbnail li img {
    max-width: 400px;
    width: 100%;
  }
}
/*----------------------------------------------
	.p_app
---------------------------------------------*/
.p_app__item {
  margin-top: 80px;
}

.p_app__content table {
  margin-top: 30px;
  width: 100%;
}
.p_app__content table tr th {
  width: 190px;
  background: #EDF7FC;
  font-weight: 600;
  text-align: left;
}
.p_app__content table tr th, .p_app__content table tr td {
  padding: 5px 20px;
  border-top: 1px solid #CCCCCC;
}
.p_app__content table tr:last-child th, .p_app__content table tr:last-child td {
  border-bottom: 1px solid #CCCCCC;
}
.p_app__content table.is_tbl2 {
  line-height: 1.5;
}
.p_app__content table.is_tbl2 tr th {
  width: 150px;
}
.p_app__content table.is_tbl2 tr th, .p_app__content table.is_tbl2 tr td {
  border: 0;
  padding: 0 20px;
  height: 55px;
  vertical-align: middle;
}
.p_app__content table.is_tbl2 tr:last-child th, .p_app__content table.is_tbl2 tr:last-child td {
  border: 0;
}

@media screen and (max-width: 767px) {
  .p_app__item {
    margin-top: 40px;
  }

  .p_app__content table {
    margin-top: 20px;
    font-size: 14px;
  }
  .p_app__content table tr th {
    width: 80px;
  }
  .p_app__content table tr th, .p_app__content table tr td {
    padding: 10px;
  }
  .p_app__content table.is_tbl2 {
    font-size: 16px;
    line-height: 2;
  }
  .p_app__content table.is_tbl2 tr th, .p_app__content table.is_tbl2 tr td {
    display: block;
    width: 100%;
    height: auto;
  }
  .p_app__content table.is_tbl2 tr th {
    width: 100%;
    text-align: center;
    padding: 3px 10px;
  }
  .p_app__content table.is_tbl2 tr td {
    padding: 10px 0;
  }
}
/*----------------------------------------------
	.p_form
---------------------------------------------*/
.p_form__content {
  font-weight: 600;
  margin-bottom: 40px;
}
.p_form__content p small {
  font-size: 14px;
}
.p_form__tbl {
  width: 100%;
}
.p_form__tbl th {
  text-align: left;
  font-weight: 700;
  width: 270px;
}
.p_form__tbl th, .p_form__tbl td {
  vertical-align: top;
  padding-bottom: 45px;
}
.p_form__tbl tr:last-child th, .p_form__tbl tr:last-child td {
  padding-bottom: 0;
}
.p_form .is_red {
  color: #C11A1B;
}
.p_form input, .p_form textarea, .p_form select {
  border: 1px solid #E6E6E6;
  min-height: 40px;
  background: none;
  outline: none;
  padding: 0 10px;
}
.p_form textarea {
  padding: 10px;
}
.p_form .is_wide {
  width: 100%;
}
.p_form .is_widearea {
  width: 100%;
  height: 150px;
}
.p_form .is_smwide {
  width: calc(33.33% - 20px);
}
.p_form .is_calendar {
  width: 50%;
  position: relative;
}
.p_form .is_calendar::after {
  position: absolute;
  content: "";
  top: 7px;
  right: 10px;
  width: 23px;
  height: 25px;
  background: url(../img/icon_formcalendar.svg) no-repeat;
  background-size: cover;
}
.p_form .is_formsubmit {
  width: 100%;
  max-width: 410px;
  padding: 0;
  margin-top: 50px;
}
.p_form .is_formsubmit input[type=submit] {
  min-height: auto;
  border: 0;
  width: 100%;
  height: 68px;
  padding: 0;
  cursor: pointer;
}
.p_form .is_backbtn {
  display: none;
}
.p_form .mw_wp_form_confirm .is_backbtn {
  display: block;
}
.p_form__radio {
  display: flex;
  flex-wrap: wrap;
}
.p_form__radio input[type=radio] {
  display: none;
}
.p_form__radio label span {
  position: relative;
  padding-left: 40px;
  margin: 5px 30px 5px 0;
  line-height: 1.8;
  display: block;
}
.p_form__radio label input[type=radio] + span::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #E6E6E6;
  border-radius: 50%;
  background: none;
}
.p_form__radio label input[type=radio]:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 5px;
  top: 5px;
  background: #CCCCCC;
  border-radius: 50%;
}
.p_form__3fields {
  display: flex;
  height: 40px;
  align-items: center;
}
.p_form__3fields span {
  width: 30px;
  font-size: 20px;
  color: #707070;
  text-align: center;
}
.p_form__dates {
  display: flex;
  margin-bottom: 30px;
}
.p_form__dates:last-of-type {
  margin-bottom: 0;
}
.p_form__dates label {
  width: 130px;
  font-weight: 700;
  flex: none;
}
.p_form__dates .is_dfields {
  display: flex;
  flex: 1;
}
.p_form__dates .is_dfields .is_date {
  width: 100%;
  max-width: 315px;
}
.p_form__dates .is_dfields > span {
  width: 30px;
  text-align: center;
}
.p_form__dates .is_dfields .is_select {
  flex: 1;
}

@media screen and (max-width: 767px) {
  .p_form .is_formsubmit {
    margin: 0 auto 40px;
  }
  .p_form .is_formsubmit input[type=submit] {
    height: 58px;
  }
  .p_form .is_backbtn {
    margin-bottom: 20px;
  }
  .p_form__content {
    margin-bottom: 20px;
  }
  .p_form .is_widearea {
    height: 100px;
  }

  .p_form__tbl {
    font-size: 14px;
  }
  .p_form__tbl th, .p_form__tbl td {
    width: 100%;
    display: block;
    padding-bottom: 0;
  }
  .p_form__tbl td {
    padding-top: 5px;
  }
  .p_form__tbl tr {
    display: block;
    margin-bottom: 25px;
  }
  .p_form__tbl tr:last-child {
    margin-bottom: 0;
  }

  .p_form__dates {
    margin-bottom: 20px;
  }
  .p_form__dates label {
    width: 110px;
  }
}
@media screen and (max-width: 575px) {
  .p_form .is_calendar::after {
    top: 10px;
    width: 18px;
    height: 20px;
  }

  .p_form__dates {
    flex-direction: column;
  }
  .p_form__dates .is_dfields span {
    width: 15px;
  }
}
/*----------------------------------------------
	.p_column
---------------------------------------------*/
.p_column {
  margin-top: -5px;
  padding: 50px;
}
.p_column p {
  margin-bottom: 20px;
}
.p_column .c_ttl-c.no_bd {
  margin-bottom: 30px;
}
.p_column hr {
  margin: 20px 0;
}
.p_column__visual {
  padding: 20px 50px 0;
  background: linear-gradient(to bottom, #FFFFFF 60%, #EDF7FC 40%);
}
.p_column__visual img {
  display: block;
  max-width: 100%;
  width: auto;
  margin: 0 auto;
}
.p_column__list > ul > li {
  padding-left: 340px;
  position: relative;
  display: block;
  margin-bottom: 40px;
  min-height: 300px;
}
.p_column__list > ul > li .p_column__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  min-height: 300px;
  background: #CCCCCC;
}
.p_column__list > ul > li .p_column__thumb img {
  display: block;
  width: 100%;
}
.p_column__list > ul > li .p_column__thumb .is_visual {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}
.p_column__list > ul > li .p_column__content {
  padding-top: 40px;
}
.p_column__list > ul > li .p_column__content .p_pickup__btn {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .p_column {
    padding: 25px 20px;
  }
  .p_column p {
    margin-bottom: 15px;
  }
  .p_column .c_ttl-c.no_bd {
    margin-bottom: 20px;
  }
  .p_column__visual {
    padding: 0 20px;
  }
  .p_column__list > ul > li {
    padding-left: 0;
    min-height: auto;
  }
  .p_column__list > ul > li .p_column__thumb {
    position: static;
    width: 200px;
    min-height: 200px;
    margin: 0 auto 20px;
  }
  .p_column__list > ul > li .p_column__thumb .is_visual {
    width: 100%;
    height: 200px;
  }
  .p_column__list > ul > li .p_column__content {
    padding-top: 0;
    text-align: justify;
  }
  .p_column__list > ul > li .p_column__content h3 {
    text-align: left;
  }
  .p_column__list > ul > li .p_column__content .p_pickup__btn {
    margin-top: 0;
  }
}
/*----------------------------------------------
	Utility
---------------------------------------------*/
/*----------------------------------------------
	Margins
---------------------------------------------*/
.u_mt-0 {
  margin-top: 0 !important;
}

.u_mt-xs {
  margin-top: 1rem !important;
}

.u_mt-s {
  margin-top: 2rem !important;
}

.u_mt-m {
  margin-top: 3rem !important;
}

.u_mt-l {
  margin-top: 5rem !important;
}

.u_mt-xl {
  margin-top: 7rem !important;
}

.u_mr-0 {
  margin-right: 0 !important;
}

.u_mr-xs {
  margin-right: 1rem !important;
}

.u_mr-s {
  margin-right: 2rem !important;
}

.u_mr-m {
  margin-right: 3rem !important;
}

.u_mr-l {
  margin-right: 5rem !important;
}

.u_mr-xl {
  margin-right: 7rem !important;
}

.u_mb-0 {
  margin-bottom: 0 !important;
}

.u_mb-xs {
  margin-bottom: 1rem !important;
}

.u_mb-s {
  margin-bottom: 2rem !important;
}

.u_mb-m {
  margin-bottom: 3rem !important;
}

.u_mb-l {
  margin-bottom: 5rem !important;
}

.u_mb-xl {
  margin-bottom: 7rem !important;
}

.u_ml-0 {
  margin-left: 0 !important;
}

.u_ml-xs {
  margin-left: 1rem !important;
}

.u_ml-s {
  margin-left: 2rem !important;
}

.u_ml-m {
  margin-left: 3rem !important;
}

.u_ml-l {
  margin-left: 5rem !important;
}

.u_ml-xl {
  margin-left: 7rem !important;
}

/*----------------------------------------------
	Text Aligns
---------------------------------------------*/
.u_center {
  text-align: center;
}

.u_right {
  text-align: right;
}

.u_left {
  text-align: right;
}

/*----------------------------------------------
	.clearfix
---------------------------------------------*/
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

/*----------------------------------------------
	.u_stretched-link
---------------------------------------------*/
.u_stretched-link {
  position: relative;
}

.u_stretched-link a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
}

/*----------------------------------------------
	.u_unused-link
---------------------------------------------*/
.u_unused-link {
  pointer-events: none;
  color: inherit;
}

/*----------------------------------------------
	Show / Hide
---------------------------------------------*/
.sp-only {
  display: none;
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }
}
/*----------------------------------------------
	Others
---------------------------------------------*/
/*# sourceMappingURL=style.css.map */