@charset "utf-8";

@import "foundation/variables";

.p_header {
  background-color: $color-white;
  min-height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.p_header.off { opacity: 0; }
.p_header.affix {
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background: rgba($color-white, .9);
  opacity: 1;
}

/*----------------------------------------------
	Header Logo
---------------------------------------------*/

.p_header__logo {
  width: 220px;
  height: 220px;
  background: $color-main;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  a {
    display: flex;
  }
  img.is_scroll {
    display: none;
  }
}
.p_header.affix .p_header__logo {
  width: auto;
  height: 80px;
  background: none;
  img.is_scroll {
    display: block;
  }
  img.is_top {
    display: none;
  }
}

/*----------------------------------------------
	Top Navigation
---------------------------------------------*/

.p_header__nav__list ul.menu {
  display: flex;
  padding: 0 30px;
}
.p_header__nav__list ul.menu li {
  font-weight: 700;
  text-align: center;
  font-size: $fs-area-s;
  line-height: $line-height-topmenu;
  position: relative;
  a {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    color: $color-text-primary;
    transition: all 0.3s;
    font-weight: $fw-serif-sembold;
    transition: all 0.3s;
    span {
      color: $color-main;
      font-size: $fs-area-xs;
      display: block;
      line-height: 1;
    }
  }
  a:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  .is_nolink {
    pointer-events: none;
  }
}
.p_header__nav__list .p_dropdown {
  transition: all 0s linear;
  -webkit-transition: all 0s linear;
  display: none;
  position: absolute;
  background: $color-lightblue;
  width: calc(100% + 30px);
  margin: 0 -15px;
  left: 0;
  z-index: 999;
}
.p_header__nav__list .p_dropdown .p_dropdown__list > li {
  a {
    text-align: left;
    padding: 7px 20px;
    position: relative;
    border-bottom: 1px solid $color-white;
    &:hover {
      text-decoration: none;
      background: $color-light;
    }
    &:after {
      position: absolute;
      content: '';
      width: 15px;
      height: 1px;
      background: $color-text-primary;
      right: 15px;
      top: 50%;
      transition: all 0.3s;
    }
    &:hover:after {     
      right: 5px;
    }
  }
  &:last-child a {
    border-bottom: 0;
  }
}

@media screen and (max-width: $sm) { /* 575px */
  .p_header {   
    min-height: 60px;
    .p_header__logo {
      width: 100px;
      height: 100px;
      img.is_top {
        width: 85%;  
        margin: 0 auto;
      }
      img.is_scroll {
        height: 60px;
      }
    }
    .p_header__nav {
      position: fixed;
      top: 60px;
      z-index: 999;
      width: 100%;
      background: #fff;
      height: calc(100% - 60px);
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;  
      opacity: 0;
      display: none;
    }
    &.affix {
      .p_header__logo {
        height: 60px;
      }
    }
    &.active {
      transition: all 0.5s ease-in-out;
      position: fixed;
      top: 0;
      z-index: 999;
      width: 100%;
      background: rgba($color-white, 1);
      opacity: 1;
      .p_header__logo {
        width: auto;
        height: 60px;
        background: none; 
        img.is_top { display: none; }
        img.is_scroll { display: block; }
      }
      .p_header__nav {
        opacity: 1; 
        display: block;     
      }
    }
  }
  .p_header__nav__list {
    ul.menu {
      padding: 0;
      flex-direction: column;
      > li {
        border-top: 1px solid $color-gray;
        padding-right: 50px;
        position: relative;
        &:last-child {
          border-bottom: 1px solid $color-gray;  
        }
        &:after {
          position: absolute;
          content: "";
          width: 20px;
          height: 1px;
          background: $color-text-primary;
          right: 15px;
          top: 50%;
          transition: all 0.3s;
        }
        &:hover:after {
          right: 5px;
        }
        a {  
          padding: 15px 25px;
          padding-right: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .is_arrow {
          position: absolute;
          right: 20px;
          width: 10px;
          height: 10px;
          border-top: 2px solid $color-main;
          border-left: 2px solid $color-main;
          top: 22px;
          transform: rotate(-135deg);
          z-index: 9;
          transition: all 0.3s linear;
          -webkit-transition: all 0.3s linear;
          cursor: pointer;
        }
        &.has_dp:after {
          display: none;
        }
      }
      > li.active {
        .is_arrow {
          transform: rotate(45deg);
          top: 27px;
        }
        .p_dropdown {
          display: block;
        }
      }
    }
    .p_dropdown {
      margin: 0;
      width: calc(100% + 50px);
      position: static;
      .p_dropdown__list {
        display: flex;
        flex-wrap: wrap;          
        li {
          border-top: 1px solid $color-gray; 
          width: 50%;
          &:nth-child(2n) {
            border-left: 1px solid $color-gray; 
          }
          &:nth-child(odd):last-child {
            width: 100%;
          }
          a {
            padding: 15px 25px; 
          }
        }
      }
    }    
  }
}


/*----------------------------------------------
	SP Menu
---------------------------------------------*/

.p_header__icons {
  padding-top: 5px;
  > div {
    margin-right: 15px;
  }
  small {
    display: block;
    line-height: 1;
    font-size: $fs-area-xxs;
    font-weight: $fw-serif-sembold;
    line-height: $line-height-topmenu;
  }
  .is_calendar {
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .is_toggle {
    cursor: pointer;
    color: $color-main;
    > div {
      height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 4px 0 3px;
    }
    span {
      width: 30px;
      height: 2px;
      background: $color-main;
      margin: 0 auto;
      transform: rotate(0deg);
      transition: 0.3s ease-in-out;
    }
  }
  .is_toggle.active {
    position: relative;
    span {
      position: absolute;
      top: 13px;
      left: 1px;
    }
    span:nth-child(1) {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }
    span:nth-child(2) {
      opacity: 0;
      display: none;
    }
    span:nth-child(3) { 
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
}

@media screen and (max-width: $sm ) {
  .p_header__icons {
    display: flex;
    align-items: center;
  }
}

/*----------------------------------------------
	SP Header Social
---------------------------------------------*/

.p_header__social {
  padding: 25px;
  li {
    margin: 0 15px;
    a {
      display: block;
      img {
        display: block;
      }
    }
  }
}

@media screen and (max-width: $sm ) {
  .p_header__social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*----------------------------------------------
	SP Menu Contacts
---------------------------------------------*/

.p_header__contact {
  li {
    font-weight: $fw-serif-bold;
    font-size: $fs-area-base;
    line-height: $line-height-topmenu;
    position: relative;
    background: $color-main;
    border-bottom: 1px solid $color-white; 
    &:after {
      position: absolute;
      content: "";
      width: 20px;
      height: 1px;
      background: $color-white;
      right: 15px;
      top: 50%;
      transition: all 0.3s;
    } 
    &:hover:after {
      right: 5px;
    }
    a {
      display: block;
      color: $color-white;
      padding: 15px 25px;
      padding-right: 50px;
      display: flex;
      text-decoration: none;
      img {
        margin-right: 10px;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}