@charset "utf-8";

@import "foundation/variables";

.p_header {
  background-color: $color-white;
  min-height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.p_header.off { opacity: 0; }
.p_header.affix {
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background: rgba($color-white, .9);
  opacity: 1;
}

/*----------------------------------------------
	Header Logo
---------------------------------------------*/

.p_header__logo {
  width: 220px;
  height: 220px;
  background: $color-main;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  a {
    display: flex;
  }
  img.is_scroll {
    display: none;
  }
}
.p_header.affix .p_header__logo {
  width: auto;
  height: 80px;
  background: none;
  img.is_scroll {
    display: block;
  }
  img.is_top {
    display: none;
  }
}

/*----------------------------------------------
	Top Navigation
---------------------------------------------*/

.p_header__nav__list ul.menu {
  display: flex;
  padding: 0 30px;
}
.p_header__nav__list ul.menu li {
  font-weight: 700;
  text-align: center;
  font-size: $fs-area-s;
  line-height: $line-height-topmenu;
  position: relative;
  a {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    color: $color-text-primary;
    transition: all 0.3s;
    font-weight: $fw-serif-sembold;
    transition: all 0.3s;
    span {
      color: $color-main;
      font-size: $fs-area-xs;
      display: block;
      line-height: 1;
    }
  }
  a:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.p_header__nav__list .p_dropdown {
  transition: all 0s linear;
  -webkit-transition: all 0s linear;
  display: none;
  position: absolute;
  background: $color-lightblue;
  width: calc(100% + 30px);
  margin: 0 -15px;
  left: 0;
  z-index: 999;
}
.p_header__nav__list .p_dropdown .p_dropdown__list > li {
  a {
    text-align: left;
    padding: 7px 20px;
    position: relative;
    border-bottom: 1px solid $color-white;
    &:hover {
      text-decoration: none;
      background: $color-light;
    }
    &:after {
      position: absolute;
      content: '';
      width: 15px;
      height: 1px;
      background: $color-text-primary;
      right: 15px;
      top: 50%;
      transition: all 0.3s;
    }
    &:hover:after {     
      right: 5px;
    }
  }
  &:last-child a {
    border-bottom: 0;
  }
}

/*----------------------------------------------
	Menu Toggle
---------------------------------------------*/

.bg-nav-sp {
  display: none;
}
.p_header__menu-toggle {
  display: none;
  color: $color-bg-primary;
  font-size: $fs-point-xs;
  line-height: 1;
  text-align: center;
  padding: 6px 0 0 0;
  padding-top: 15px;
  margin-top: 5px;
  z-index: 9999;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  width: 39px;
  text-align: center;
}
.p_header__menu-toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 24px;
  border-radius: 5px;
  background: $color-text-primary;
  opacity: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}
.p_header__menu-toggle span:nth-child(1) {
  top: 0;
}
.p_header__menu-toggle span:nth-child(2) {
  top: 6px;
}
.p_header__menu-toggle span:nth-child(3) {
  top: 12px;
}
.p_header__menu-toggle small.op {
  color: $color-dark;
  font-size: $fs-point-xs;
  line-height: 1.2;
}
.p_header__menu-toggle.navSpClose span:nth-child(1) {
  top: 6px;
  transform: rotate(135deg);
}
.p_header__menu-toggle.navSpClose span:nth-child(2) {
  top: 6px;
  transform: rotate(-135deg);
}
.navSpOpen.active {
  display: none;
}
.navSpClose {
  display: none;
}


@media screen and (max-width: $xl) { /* 1399px */
  
}

@media screen and (max-width: $lg) { /* 1199px */
  
}

@media screen and (max-width: $md) { /* 991px */
  .p_header__menu-toggle {
    &:hover {opacity:.7;}
  }
  .navSpOpen {
    display: block;
  }
  .p_header__menu {
    display: flex;
    padding: 3px 7px 0;
  }
  .bg-nav-sp {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(32, 33, 64, 0.5);
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    z-index: 9997;
    opacity: 0;
    display: none;
  }
  .bg-nav-sp.active {
    opacity: 0.8;
    display: block;
  }
  .navSpClose.active {
    opacity: 1;
    display: block;
    padding-top: 17px;
  }
  nav.open {
    right: 0;
  }
}

@media screen and (max-width: $sm) { /* 575px */
  
}

@media screen and (max-width: $xs) {
  .p_header__menu {
    padding: 3px 3px 0;
    font-size: 6px;
    svg {
      width: 25px;
    }
  }
  .p_header__menu-toggle {
    width: 32px;
  }
  .p_header__menu-toggle small.op {
    font-size: 6px;
    svg {
      width: 25px;
    }
  }
}