/*----------------------------------------------
	Menu IDs
---------------------------------------------*/
.f_anchor{
	&::before {
		content: '';
		display: block;
		height: 80px;
		margin-top: -80px;
		visibility: hidden;
	}
}
#flow,
#faq,
#charges {
	&::before {
		height: 180px;
		margin-top: -180px;
	}
}

/*----------------------------------------------
	Frame Banner
---------------------------------------------*/

.f_site_banner {
	display: block;
	overflow: hidden;
	min-height: 140px;
}
.f_site_banner__wrapper {
	position: relative;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&.is_inner {
		overflow: hidden;
	}
	&.f_section {
		display: flex;
		justify-content: flex-end;
	}
	&.is_shadow::before {
    position: absolute;
    top: 0;
    left: -5px;
    z-index: 1;
    content:'';
    width: 50%;
    height: 100%;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  }
}

.f_site_main {
	overflow: hidden;
}

@media screen and (max-width: $md) {
	.f_site_banner__wrapper {
		&.f_section {
			justify-content: initial;
		}
	}
}

@media screen and (max-width: $sm) {
	.f_site_banner {
		min-height: 40px;
	}
	
}

/*----------------------------------------------
	Frame Sections
---------------------------------------------*/
.f_site__fixed {
	height: calc(100% - 90px);
	position: fixed;
	top: 90px;
	right: 0;
	z-index: 99;
}
.f_section {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
}
.f_section .f_section__inner {
	max-width: 530px;
	width: 100%;
}
.f_sec01 {
	padding-bottom: 0;
}
.f_sec02 {
	padding-bottom: 160px;
	.l_wrapper {
		display: flex;
		justify-content: flex-end;
	}
	.f_section-img {
		position: absolute;
		left: -160px;
		bottom: -160px;
		z-index: -1;
	}
	.c_btn-wrapper {
		text-align: right;
	}
}
.f_sec03 {	
	.f_section-img01 {
		position: absolute;
		right: -160px;
		top: -180px;
		z-index: -1;
	}
	.f_section-img02 {
		position: absolute;
		right: 0;
		bottom: -100px;
		z-index: -1;
	}
}
.f_troubles { background-color: $color-light; }
.f_access {
	overflow: hidden;
	padding: 0;
}
.f_recruit {
	background-color: $color-light;
	padding: 0;
}
.f_flow { padding-top: 0; }
.f_charges { padding-top: 0; }
.f_faq { padding-top: 0; }
.f_contact { background-color: $color-light; }
.f_point {
	background: url(../img/point_img01.jpg) no-repeat center;
	background-size: cover;
}
.f_case {
	background-color: $color-light;
}

.f_section.is_white {
	max-width: 100%;
	padding-top: 100px;
}
.f_section2.is_white {
	max-width: 100%;
	padding-top: 0;
}

.f_section.is_bg2 {
	max-width: 100%;
	background: $color-sky;
}

@media screen and (max-width: $md) {
	.f_sec03 .f_section-img02 {
		right: -20px;
	}
	.f_sec04 {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (max-width: $sm) {
	.f_site__fixed {		
		height: auto;
		top: auto !important;
		bottom: 0;
		right: auto;
		left: 0;
		width: 100%;
	}
  .f_sec01 {
    padding: 0 20px 10px;
		.p_adbox {
			max-width: 400px;
			margin: 0 auto;
			font-size: $fs-area-s;
			line-height: 1.5;
		}
  }
  .f_sec02 {
    padding-bottom: 25px;
    .l_wrapper {
      display: block; 
    }
    .f_section-img {
      position: static;
      margin: 0 -20px 25px;
      width: 100%;
    }
  }
  .f_section {
    .f_section__inner {
      max-width: 100%;
    }
  }
  .f_sec03 {
    .f_section-img01 {
      top: -30px;
      right: -20px;
      width: 150px;
    }
    .f_section-img02 {
      position: static;
      max-width: 250px;
      display: flex;
      margin: 25px 0 0 auto;
      margin-right: -20px;
    }
    .l_wrapper {
      padding-top: 50px;
    }
  }
  .f_point {
		// background: url(../img/point_img01_sp.png) no-repeat center;
		background-size: cover;
		padding: 60px 20px 50px;
  }
  .f_section.is_white {
		padding-top: 30px;
  }
}


/*----------------------------------------------
	Frame Footer
---------------------------------------------*/

.f_site__footer {
	background: $color-main;
  	color: $color-white;
}

@media screen and (max-width: $md) {

}