/*----------------------------------------------
	.c_banner
---------------------------------------------*/

.c_banner li img {
	width: 100%;
}
.c_banner.slick-dotted {
  margin-bottom: 0;
}
.c_banner .slick-dots {
  bottom: 30px;
  width: auto;
  right: 60px;
  > li {
    width: 10px;
    height: 10px;
    margin: 0 10px;
    > button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $color-white;
      &::before {
        display: none;
      }
      &:hover {
        background: $color-main;
      }
    }
  }
  > li.slick-active {
    > button {
      background: $color-main;
    }
  }
}

@media screen and (max-width: $md) {
  
}

/*----------------------------------------------
	.c_banner-b
---------------------------------------------*/

.c_banner-b {
  position: relative;
  width: 70%;
  height: 0;
  padding-top: calc(580 / 900 * 70%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
  background: url(../../img/bnr_inner_img01.jpg) center right / cover no-repeat;
  position: relative;
  z-index: -1;
  float:right;
  min-height: 580px;
  &::before {
    position: absolute;
    top: 0;
    left: -5px;
    z-index: 1;
    content:'';
    width: 40%;
    height: 100%;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  }
}
.c_banner-b__img {
  width: 900px;
  height: 0;
  padding-top: calc(580 / 900 * 900px); /* calc(画像高さ ÷ 画像横幅 × 100%) */
  background: url(../../img/bnr_inner_img01.jpg) center right / cover no-repeat;
  position: relative;
  z-index: -1;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    content:'';
    width: 40%;
    height: 100%;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  }
}
.c_banner-b__detail {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 140px 10% 40px;
  z-index: 2;
}
.c_banner-b__ttl {
  font-size: $fs-point-xl;
  line-height: $line-height-point-xxl; 
  margin-bottom: 50px;
  font-weight: $fw-serif-medium;
  letter-spacing: $space-xxxs;
}
.c_banner-b__ttl.is_large {
  font-size: $fs-point-xl-desktop; 
  margin-bottom: 40px;
  span {
    border-bottom: 1px solid $color-darkgray;
  }
}

@media screen and (max-width: $md) {
  .c_banner-b__detail {
    padding: 40px 20px;
  }  
}