/*----------------------------------------------
	.c_btn
---------------------------------------------*/
.c_btn-wrapper {
  margin-top: 70px;
}
.c_btn {
  width: 100%;
  max-width: 410px;
  display: inline-block;
  padding: 1.25em;
  background-color: none;
  color: $color-text-primary;
  font-size: $fs-point-s-desktop;
  text-align: center;
  line-height: $line-height-point;
  transition: all .2s;
  cursor: pointer;
  font-weight: $fw-serif-medium;
  position: relative;
  border: 1px solid $color-text-primary;
  margin-top: 20px;
  &:first-child {
    margin-top: 0;
  }
	&:hover {
    text-decoration: none;
    opacity: 0.6;
  }
  &:after {
    position: absolute;
    content: '';
    width: 42px;
    height: 1px;
    background: $color-text-primary;
    right: 30px;
    top: 50%;
    transition: all 0.3s;
  }
  &:hover:after {     
    right: 15px;
	}
}
.c_btn.is_secondary {
  .c_btn__txt {
    &:before { content: ''; }
  }
}
.c_btn.is_small {
  font-size: $fs-area-base;
  margin: 0 auto;
  padding: 0.9em;
  width: 255px;
  &:after { width: 27px; }
}
.c_btn.is_nobd {
  border: none;
  color: $color-main;
  float: right;
  font-size: 16px;
  max-width: 275px;
  padding: 1.25em 0;
  letter-spacing: $space-xxxs;
  &:after {
    background-color: $color-main;
    right: 25px;
    width: 27px;
  }
  &:hover:after {     
    right: 10px;
	}
}
.c_btn.is_ad {
  max-width: 100%;
  padding: 0;
  border: 0;
  text-align: left;
  letter-spacing: $space-xxxs;
  img {
    width: 100%;
  }
  &:after {
    top: calc(50% + 10px);
  }
  .c_btn__txt {
    position: absolute;
    top: 0;
    left: 26%;
    width: 64%;
    height: 97%;
    font-size: $fs-point-xxl;
    letter-spacing: $space-xxxs;
    padding-top: 7px;
    span {
      color: $color-main;
      font-size: $fs-area-s;
    }
    small {
      font-size: $fs-area-base;
      letter-spacing: 0;
    }
  }
}

@media screen and (max-width: $sm) {
  .c_btn {
    display: block;
    margin: 0 auto;
  }
}

/*----------------------------------------------
	.c_btn-fixed
---------------------------------------------*/

.c_btn-fixed {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  a {
    transition: all 0.3s ease-in-out;
    margin: 8px 0;
    &:hover {
      opacity: 0.6;
    }
  }
  a.is_pagetop {
    margin-top: 40px;
    height: 131px;
    img { display: none; }
  }
  .is_blue {
    display: flex;
    flex-direction: column;
  }
}
.c_btn-fixed__inner {
  
}