/*----------------------------------------------
	.l_wrapper
---------------------------------------------*/

.l_wrapper {
  width: $site-width;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}