/*----------------------------------------------
	.p_case
---------------------------------------------*/

.p_case__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .p_case__ttl {
    letter-spacing: $space-xxxs;
    text-align: center;
    color: $color-main;
    font-weight: $fw-serif-medium;
    font-size: $fs-point-xl;
    position: absolute;
    top: -36px;
    left: 0;
    width: 100%;
  }
  .p_case__item {
    width: calc(50% - 40px);
    background: $color-white;
    padding: 50px 30px 30px;
    position: relative;
  }
  .p_case__img {
    display: flex;
    justify-content: space-between;
    font-size: $fs-area-s;
    text-align: center;
    color: $color-main;
    letter-spacing: $space-xxxs;
    margin-bottom: 10px;
    li {
      width: calc(50% - 10px);
      img {
        display: block;
        width: 100%;
      }
    }
  }
  .p_case__tbl {
    font-size: $fs-area-s;
    line-height: $line-height-point-xxl;
    th {
      text-align: left;
      width: 100px;
      font-weight: $fw-serif-medium;
    }
    th,td {
      border-bottom: 1px solid $color-gray;
      padding: 10px 0 5px;
    }
    td {
      padding-left: 20px;
    }
  }
}
