/*----------------------------------------------
	.p_charges
---------------------------------------------*/

.p_charges {
  padding-top: 45px;
  text-align: center;

  &__list {
    font-weight: 500;
    text-align: left;
    li {
      align-items: center;
      border-bottom: 1px solid $color-gray;
      display: flex;
      // justify-content: space-between;
      margin-bottom: 30px;
      padding: 10px;
      &:last-child { margin-bottom: 15px; }
    }
  }
  &__method {
    text-align: left;
    width: calc(100% - 220px);
  }
  &__price { font-size: 24px; }
  &__note {
    font-size: 14px;
    padding-bottom: 20px;
    text-align: right;
  }
}