/*----------------------------------------------
	.p_clinic
---------------------------------------------*/

.p_clinic {
  display: flex;
  justify-content: space-between;
  margin: 45px auto 107px;
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 288px;
    &:after {
      background-color: $color-gray;
      content: '';
      height: 100%;
      position: absolute;
      right: -25px;
      top: 0;
      width: 1px;
    }
    &:last-child:after { background-color: transparent; }
  }
  &__ttl {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 10px;
    position: relative;
    img {
      clear: both;
      display: block;
      overflow: hidden;
      margin: 0 auto;
      padding-bottom: 10px;
    }
    span {
      display: block;
      font-size: 18px;
    }
  }
  &__contents {
    font-size: 14px;
    text-align: center;
  }
  &__subttl {
    color: $color-main;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  &__tel {
    color: $color-main;
    font-size: 32px;
    font-weight: 700;
    span {
      padding-left: 35px;
      position: relative;
      img {
        left: 0;
        position: absolute;
        top: 10px;
      }
    }
  }
  &__time { padding-bottom: 10px; }
  &__address { padding-bottom: 5px; }
  &__link {
    padding-bottom: 10px;
    a {
      clear: both;
      color: $color-main;
      display: block;
      letter-spacing: 0.1em;
      padding-bottom: 10px;
      transition: all .2s;
      &:hover {
        opacity: 0.6;
        text-decoration: none;
      }
    }
  }
  &__btn {
    margin: 0 auto;
    text-align: center;
  }
}