/*----------------------------------------------
	.p_flow
---------------------------------------------*/

.p_flow {
  padding-top: 60px;
  &__steps {
    li {
      display: flex;
      justify-content: space-between;
      padding-bottom: 60px;
      &:last-child .p_flow__txt { padding-top: 15px; }
    }
  }
  &__step {
    // border-right: 1px solid $color-gray;
    font-size: 20px;
    font-weight: 600;
    small {
      color: $color-main;
      display: block;
      font-size: 14px;
      font-weight: 500;
    }
  }
  &__txt {
    text-align: left;
    width: calc(100% - 220px);
    position: relative;
    &:before {
      background-color: $color-gray;
      content: '';
      height: 100%;
      left: -30px;
      position: absolute;
      top: 0;
      width: 1px;
    }
  }

  &__ttl {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
    text-align: center;
  }
  &__notes {
    li {
      border-bottom: 1px solid $color-gray;
      display: flex;
      justify-content: space-between;
      padding: 8px 0;
      span {
        text-align: left;
        width: calc(100% - 220px);
      }
    }
  }
}