/*----------------------------------------------
	.p_pickup
---------------------------------------------*/

.p_pickup {
	font-size: $fs-area-base;
	font-weight: $fw-serif-medium;
	width: 100%;
	overflow: hidden;
}
.p_pickup__item {
	padding: 0 5px;
}
.p_pickup__media {
	max-width: 100%; 
	display: block; 
	margin: 0 auto;
}
.p_pickup__ttl {
	font-size: $fs-point-l-mobile;
	font-weight: $fw-serif-sembold;
	line-height: $line-height-point;
	color: $color-main;
	margin-bottom: 10px;
}
.p_pickup__txt {
	text-align: left;
	width: 80%;
	margin: 0 auto;
	padding: 20px 0 0 30px;
	position: relative;
	&::before {
		position: absolute;
		content: '';
		width: 2px;
		height: calc(100% + 30px);
		top: -30px;
		left: 0;
		background: #63B1D5;
	}
	p {
		padding-right: 13%;
	}
}
.p_pickup__btn {
	display: flex;
	justify-content: flex-end;
	.c_btn {
		font-size: $fs-area-s;
		padding: 0 50px 0 0;
		width: auto;
		margin-top: 0;
		&:after {
			width: 25px;
			right: 10px;
		}
		&:hover:after {     
			right: 0;
		}
	}
}
.p_pickup__slick .slick-slide {
	opacity: 0.3;
	&.slick-current {
		opacity: 1;
	}
}
.p_pickup__slick {
	.slick-prev, 
	.slick-next {
		top: 33%;
		left: 50%;
		margin-left: -370px;
		width: 30px;
		height: 30px;
		border-top: 1px solid #63B1D5;
		border-left: 1px solid #63B1D5;
		transform: rotate(-45deg);
		z-index: 9;
		transition: all 0.3s;
		&::before {
			display: none;
		}
		&:hover {
			border-top: 1px solid $color-main;
			border-left: 1px solid $color-main;
			width: 40px;
			height: 40px;
		}
	}
	.slick-next {
		left: auto;
		right: 50%;
		margin-right: -370px;
		transform: rotate(135deg);
	}
}

@media screen and (max-width: $md) {
	
}

