/*----------------------------------------------
	.p_troubles
---------------------------------------------*/

.p_troubles { text-align: center; }
.p_troubles__ttl {
  text-align: center;
  span { margin-bottom: 15px; }
}
.p_troubles__tabs {
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 30px;
}
.p_troubles__tabs li { width: 140px; transition: all 0.3s ease; }
.p_troubles__tabs li a {
  border-radius: 50%;
  border: 1px solid #63B1D5;
  color: $color-main;
  display: inline-block;
  font-size: 30px;
  height: 140px;
  letter-spacing: 0.1em;
  line-height: $line-height-point-xl;
  padding: 50px 0 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 100%;
  span {
    color: $color-text-primary;
    display: block;
    font-size: $fs-area-s;
    font-weight: 500;
    letter-spacing: normal;
  }
  &:before {
    content: "";
    height: 37px;
    left: 0;
    position: absolute;
    right: 0;
    top: 14px;
  }
}
.p_troubles__tabs li.ui-tabs-active,
.p_troubles__tabs li.ui-state-hover {
  text-decoration: none;
  transform: scale(1.2);
}
.p_troubles__tabs li:first-child a:before { content: url('../../img/icon-trouble01.svg'); }
.p_troubles__tabs li:nth-child(2) a:before { content: url('../../img/icon-trouble02.svg'); }
.p_troubles__tabs li:nth-child(3) a:before { content: url('../../img/icon-trouble03.svg'); }
.p_troubles__tabs li:nth-child(4)a:before { content: url('../../img/icon-trouble04.svg'); }
.p_troubles__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 68px;
}
.p_troubles__menu li {
  width: calc((100% / 3) - 20px);
}
.p_troubles__menu li a {
  border-bottom: 1px solid $color-gray;
  color: $color-text-primary;
  display: inline-block;
  font-size: $fs-point-l;
  font-weight: 500px;
  padding: 25px 0;
  position: relative;
  transition: all .2s;
  width: 100%;
  &:after {
    background: $color-text-primary;
    content:"";
    height: 1px;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
    width: 25px;
  }
  &:hover {
    color: $color-main;
    text-decoration: none;
  }
  &:hover:after {
    background: $color-main;
    right: 10px;
  }
}