/*----------------------------------------------
	Menu IDs
---------------------------------------------*/
.f_anchor{
	&::before {
		content: '';
		display: block;
		height: 80px;
		margin-top: -80px;
		visibility: hidden;
	}
}

/*----------------------------------------------
	Frame Banner
---------------------------------------------*/

.f_site_banner__wrapper {
	position: relative;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&::before {
		position: absolute;
		content: '';
		width: 2px;
		height: 70px;
		background: $color-main;
		left: 50%;
		margin-left: -1px;
		bottom: -23px;
		z-index: 9;
	}
	&.is_inner {
		overflow: hidden;
		&::before {
			display: none;
		}
	}
}

.f_site_main {
	overflow: hidden;
}

@media screen and (max-width: $md) {
	
}

/*----------------------------------------------
	Frame Sections
---------------------------------------------*/
.f_site__fixed {
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 99;
}
.f_section {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
}
.f_section .f_section__inner {
	max-width: 530px;
	width: 100%;
}
.f_sec01 {
	padding-bottom: 0;
}
.f_sec02 {
	padding-bottom: 160px;
	.l_wrapper {
		display: flex;
		justify-content: flex-end;
	}
	.f_section-img {
		position: absolute;
		left: -160px;
		bottom: -160px;
		z-index: -1;
	}
	.c_btn-wrapper {
		text-align: right;
	}
}
.f_sec03 {	
	.f_section-img01 {
		position: absolute;
		right: -160px;
		top: -180px;
		z-index: -1;
	}
	.f_section-img02 {
		position: absolute;
		right: 0;
		bottom: -100px;
		z-index: -1;
	}
}
.f_troubles { background-color: $color-light; }
.f_access {
	overflow: hidden;
	padding: 0;
}
.f_recruit {
	background-color: $color-light;
	padding: 0;
}
.f_flow { padding-bottom: 20px; }
.f_faq { padding-bottom: 0; }
.f_contact { background-color: $color-light; }
.f_point {
	background: url(../../img/point_img01.jpg) no-repeat center;
	background-size: cover;
}
.f_case {
	background-color: $color-light;
}

@media screen and (max-width: $md) {
	.f_sec03 .f_section-img02 {
		right: -20px;
	}
	.f_sec04 {
		padding-left: 0;
		padding-right: 0;
	}
}

/*----------------------------------------------
	Frame Footer
---------------------------------------------*/

.f_site__footer {
	background: $color-main;
  	color: $color-white;
}

@media screen and (max-width: $md) {

}