/*----------------------------------------------
	.c_breadcrumb
---------------------------------------------*/

.c_breadcrumb {
  padding: 50px 0 0;
}
.c_breadcrumb ul {
  font-size: $fs-area-s;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  overflow: auto;
}
.c_breadcrumb ul li {
  position: relative;
  white-space: nowrap;
  padding-right: 50px;
  color: $color-main;
  &:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background: $color-darkgray;
    top: 50%;
    right: 10px;
  }
  &:last-child {
    padding-right: 0;
    &:after {
      display: none;
    }
  }
  a {
    color:$color-main;
    &:hover {
      opacity:.5;
    }
  }
  br { display: none; }
}

@media screen and (max-width: $md) {
  .c_breadcrumb {
    padding: 50px 20px 0;
  }
}

@media screen and (max-width: $sm) {
  .c_breadcrumb {
    padding: 20px 20px 0;
    ul {
      font-size: $fs-area-xs;
    }
  }
}
