/*----------------------------------------------
	.c_btn
---------------------------------------------*/
.c_btn-wrapper {
  margin-top: 70px;
}
.c_btn {
  width: 100%;
  max-width: 410px;
  display: inline-block;
  padding: 1.25em;
  background-color: none;
  color: $color-text-primary;
  font-size: $fs-point-s-desktop;
  text-align: center;
  line-height: $line-height-point;
  transition: all .2s;
  cursor: pointer;
  font-weight: $fw-serif-medium;
  position: relative;
  border: 1px solid $color-text-primary;
  margin-top: 20px;
  letter-spacing: 0;
  &:first-child {
    margin-top: 0;
  }
	&:hover {
    text-decoration: none;
    opacity: 0.6;
  }
  &:after {
    position: absolute;
    content: '';
    width: 42px;
    height: 1px;
    background: $color-text-primary;
    right: 30px;
    top: 50%;
    transition: all 0.3s;
  }
  &:hover:after {     
    right: 15px;
	}
}
.c_btn.is_secondary {
  .c_btn__txt {
    &:before { content: ''; }
  }
}
.c_btn.is_small {
  font-size: $fs-area-base;
  margin: 0 auto;
  padding: 0.9em;
  width: 255px;
  &:after { width: 27px; }
}
.c_btn.is_nobd {
  border: none;
  color: $color-main;
  float: right;
  font-size: $fs-area-base;
  max-width: 275px;
  padding: 1.25em 0;
  letter-spacing: $space-xxxs;
  &:after {
    background-color: $color-main;
    right: 25px;
    width: 27px;
  }
  &:hover:after {     
    right: 10px;
	}
}
.c_btn.is_ad {
  max-width: 100%;
  padding: 0;
  border: 0;
  text-align: left;
  letter-spacing: $space-xxxs;
  img {
    width: 100%;
  }
  &:after {
    top: calc(50% + 10px);
  }
  .c_btn__txt {
    position: absolute;
    top: 0;
    left: 26%;
    width: 64%;
    height: calc(100% - 7px);
    font-size: $fs-point-xxl;
    letter-spacing: $space-xxxs;
    padding-top: 7px;
    span {
      color: $color-main;
      font-size: $fs-area-s;
    }
    small {
      font-size: $fs-area-base;
      letter-spacing: 0;
    }
  }
}
.c_btn.is_custom {
  &::after { display: none; }
  > img {
    width: 32px;
    height: 32px;
    position: absolute;
    top: calc(50% - 15px);
    right: 15px;
  }
}

@media screen and (max-width: $sm) {
  .c_btn-wrapper {
    margin-top: 20px; 
  }
  .c_btn {
    display: block;
    margin: 0 auto 15px;
    padding: 18px;
    &:after {
      width: 32px;  
      right: 15px;
    }
    &:hover:after {
      right: 10px;
    }
  }
  .c_btn.is_ad {
    margin-bottom: 5px;
    .c_btn__txt {
      left: 35%;
      height: 100%; 
      font-size: $fs-area-base;
      line-height: $line-height-point-xl;
      display: flex;
      flex-direction: column;
      justify-content: center;
      span {
        display: block;
        font-size: $fs-area-xs;
      }
    }
    &:after {
      width: 20px;
      right: 15px;
      top: 50%;
    }
    &:hover:after {
      right: 10px;
    }
    p.sp-only {
      font-size: $fs-area-s;
      margin-top: 10px;
    }
  }
  .c_btn.is_nobd {
    font-size: $fs-area-s;
    &:after {
      // right: 15px;
    }
  }
}

/*----------------------------------------------
	.c_btn-fixed
---------------------------------------------*/

.c_btn-fixed {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  a {
    transition: all 0.3s ease-in-out;
    margin: 8px 0;
    &:hover {
      opacity: 0.6;
    }
  }
  a.is_pagetop {
    margin-top: 40px;
    height: 131px;
    img { display: none; }
  }
  .is_blue {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: $sm) {
  .c_btn-fixed {
    font-size: $fs-area-s;
    text-align: center;
    padding-bottom: 0;
    font-weight: 300;
    .is_blue {
      flex-direction: row;
      li {
        border-top: 1px solid $color-white;
        border-right: 1px solid $color-white;
        background: $color-main;
        width: 33.33%;
        a {
          color: $color-white;
          padding: 10px 0 5px;
          margin: 0;
          display: block;
          img {
            display: block;
            height: 15px;
            margin: 0 auto;
          }
          &:hover {
            text-decoration: none;
          }
        }
        &:last-child {
          border-right: 0;
        }
        &:hover {
          opacity: 0.8;
          text-decoration: none;
        }
      }
      &__ph { 
        cursor: pointer; 
      }
    }
    .is_gray {
      display: none;
      padding: 7px 7px 5px;
      background: rgba($color-darkgray, 0.6);
      color: $color-white;
      font-size: $fs-area-xs;
      ul {
        display: flex;
        justify-content: space-between;
        li {
          width: 32.7%;
          background: $color-white;
          a {
            color: $color-text-primary;
            display: block;
            padding: 0 5px;
            img {
              width: 15px;
              display: inline-block;
              margin-right: 8px;
              vertical-align: text-bottom;
            }
            &:hover {
              color: $color-main;
              text-decoration: none;
            }
          }
        }
      }
    }
    a.is_pagetop {
      display: block;
      position: absolute;
      bottom: 60px;
      right: 15px;
      margin: 0;
    }
  }
}

/*----------------------------------------------
	.c_btn-b
---------------------------------------------*/
.c_btn-b {
  display: block;
  position: relative;
  &:hover {
    text-decoration: none;
    opacity: 0.6;
  }
  &:after {
    position: absolute;
    content: '';
    width: 25px;
    height: 1px;
    background: $color-main;
    right: 0;
    top: 50%;
    transition: all 0.3s;
  }
  &:hover:after {     
    width: 35px;
	}
}