/*----------------------------------------------
	.c_content
---------------------------------------------*/
.c_content {
  margin-top: 100px;
}
.c_content__inner {
  margin-bottom: 100px;
  &:last-child {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.c_content__row {
  margin-top: 50px;
  display: block;
  
  &.is_left {
    overflow: hidden;
    img {
      float: left;
      margin-right: 25px;
      margin-bottom: 30px;
    }
  }
  &.is_right {
    overflow: hidden;
    img {
      float: right;
      margin-right: 0;
      margin-left: 25px;
    }
  }
  &.is_center {
    img {
      float: none;
      margin: 20px auto;
      display: block;
    }
  }
  img.is_right2 {
    float: right;
    margin-right: 0;
    margin-left: 80px;
  }
  img.is_center {
    float: none;
    margin: 20px auto;
    display: block;
  }
}
.c_content__ttl {
  font-size: $fs-area-l;
  font-weight: $fw-serif-sembold;
  line-height: $line-height-point-xxl;
  margin-bottom: 20px;
  letter-spacing: $space-xxxs;
  color: $color-main;
  &.is_inline {
    display: inline-block;
  }
  &.is_md {
    font-size: $fs-area-m;
    border-left: 3px solid $color-main;
    padding-left: 15px;
  }
}
.c_content__item {
  margin-bottom: 60px;
  padding-bottom: 60px;
  position: relative;
  p { 
    margin-bottom: 20px; 
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .is_right {
    text-align: right;
  }
  &::after {
    position: absolute;
    content: '';
    width: 180px;
    height: 2px;
    background: $color-main;
    bottom: 0;
    left: calc(50% - 90px);
  }
  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    &::after { display: none; }
  }
}

@media screen and (max-width: $sm) {
  .c_content {
    margin-top: 40px;
  }
  .c_content__inner {
    margin-bottom: 30px;
  }
  .c_content__row {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    &.is_right img,
    &.is_left img,
    &.is_center img,
    img.is_right2,
    img.is_center {
      float: none;
      margin: 20px auto 10px;
    }
    img {
      float: none;
      display: block;
      width: 100%; 
      max-width: 400px;
      margin: 20px auto 10px;
      order: 1;
    }
    img.is_right2 {
      order: -1;
    }
  }
  .c_content__ttl {
    font-size: $fs-point-s-desktop;
    margin-bottom: 10px;
    &.is_inline {
      display: block;
    }
    &.is_md {
      font-size: $fs-point-s-desktop;
      padding-left: 10px;
    }
  }
  .c_content-about {
    display: flex;
    flex-direction: column;
    img {
      order: 9;
    }
  }
  .c_content__item {
    margin-bottom: 30px;
    padding-bottom: 30px;
    p { margin-bottom: 15px; }
  }
}