/*----------------------------------------------
	.c_tbl
---------------------------------------------*/
.c_tbl {
  &__wide {
    margin-top: 30px;
    width: 100%;
    tr {
      th {
        width: 190px;
        background: $color-lightblue;
        font-weight: $fw-serif-sembold;
        text-align: left;
      }
      th,td {
        padding: 5px 20px;
        border-top: 1px solid $color-gray;
      }
      &:last-child {
        th,td {
          border-bottom: 1px solid $color-gray;
        }
      }
    }
    &.is_nobd {
      line-height: 1.5;
      tr {
        th {
          width: 150px;
        }
        th,td {
          border: 0;
          padding: 0 20px;
          height: 55px;
          vertical-align: middle;
        }
        &:last-child {
          th,td {
            border: 0;
          }
        }
      }
    }   
    &.is_style2 {
      margin-top: 20px;
      width: 100%;
      tr {
        th {
          font-weight: $fw-serif-regular;
          text-align: center;
        }
        th,td {
          padding: 2px 10px;
          border: 1px solid #E5E9ED;
        }
      }
    }
  }
  &.mb30 {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: $sm) {
  .c_tbl {
    &__wide {
      margin-top: 20px;
      font-size: $fs-area-s;
      tr {
        th {
          width: 80px;
        }
        th,td {
          padding: 10px;
        }
      }
      &.is_nobd {      
        font-size: $fs-area-base;
        line-height: 2;
        tr {
          th,td {
            display: block;
            width: 100%;
            height: auto;
          }
          th {
            width: 100%;
            text-align: center;
            padding: 3px 10px;
          }
          td {
            padding: 10px 0;
          }
        }
      }
    }
  }
}