/*----------------------------------------------
	.p_access
---------------------------------------------*/

.p_access__upper {
  background: url('../img/p_access__upper-img.jpg') no-repeat top center / cover;
  margin: 0 auto;
  max-width: 100%;
  padding: 85px 0 75px;
  text-align: right;
  width: 1280px;
}
.p_access__info {
  width: 300px;
  display: inline-block;
  text-align: left;
}
.p_access__ttl {
  span { margin-bottom: 0; }
}

@media screen and (max-width: $sm) {
  .p_access__upper {
    background: none;
    width: auto;
    padding: 0; 
    img {
      width: 100%; 
    }
  }
  .p_access__info {
    width: auto;  
    display: block;
    padding: 30px 20px 0;
  }
  .p_access__ttl {
    text-align: center;
    span {
      margin-bottom: 10px;
    }
  }
  .p_clinic__btn {
    .c_btn.is_small {
      max-width: 330px;
      width: 100%;
    }
  }
}