/*----------------------------------------------
	.p_case
---------------------------------------------*/
.p_case {
  &__list {
   > li {
     display: flex !important;
   }
   .p_case__wrap {
    flex: 1;
    padding-left: 20px;
    &.is_single{
      padding-left: 40px;
      .p_case__date {
        display: flex;
        justify-content: flex-end;
      }
      .p_case__tbl {
        margin-bottom: 30px;
      }
    }
   }
  }
  &__img {
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    font-size: $fs-area-s;
    text-align: center;
    color: $color-main;
    letter-spacing: $space-xxxs;
    margin-bottom: 10px;
    li {
      width: calc(50% - 10px);
      img {
        display: block;
        width: 100%;
        max-width: 180px;
      }
    }
    &.is_single {
      flex-wrap: wrap;
      li {
        margin-bottom: 10px;
      }
    }
  }
  &__date {
    font-size: $fs-area-s;
    font-weight: $fw-serif-sembold;
    letter-spacing: $space-xxxs;
  }
  &__tbl {
    width: 100%;
    font-size: $fs-area-s;
    line-height: $line-height-point-xxl;
    th {
      text-align: left;
      width: 100px;
      font-weight: $fw-serif-medium;
    }
    th,td {
      border-bottom: 1px solid $color-gray;
      padding: 12px 0 5px;
    }
    td {
      padding-left: 20px;
    }
  }
}
.p_case__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .p_case__ttl {
    letter-spacing: $space-xxxs;
    text-align: center;
    color: $color-main;
    font-weight: $fw-serif-medium;
    font-size: $fs-point-xl;
    position: absolute;
    top: -36px;
    left: 0;
    width: 100%;
  }
  .p_case__item {
    width: calc(50% - 40px);
    background: $color-white;
    padding: 50px 30px 30px;
    position: relative;
  }
}

@media screen and (max-width: $sm) {
  .p_case {
    &__list {
      > li {
        flex-direction: column;
      }
      .p_case__wrap {
        padding-left: 0;
        &.is_single{
          padding-left: 0;
          .p_case__tbl {
            margin-bottom: 20px;
          }
        }
      }
    }
    &__img {
      margin: 0 auto 10px;
      max-width: 100%;
    }
  }
  .p_case__inner {
    flex-direction: column;
    margin-top: 30px;
    .p_case__item {
      width: 100%;
      max-width: 400px;
      margin: 20px auto; 
      padding: 40px 20px 30px;
    }
    .p_case__ttl {
      font-size: $fs-area-l;
      top: -22px;
    }
  }
}