/*----------------------------------------------
	.p_charges
---------------------------------------------*/

.p_charges {
  // padding-top: 45px;
  // text-align: center;

  &__list {
    font-weight: 500;
    text-align: left;
    li {
      // align-it ems: center;
      border-bottom: 1px solid $color-gray;
      display: flex;
      // justify-content: space-between;
      margin-bottom: 30px;
      padding: 10px;
      &:last-child { margin-bottom: 15px; }
    }
    &.is_3cols {
      .p_charges__method {
        width: 180px;
      }
      .p_charges__price,
      .p_charges__fee {
        width: 200px;
      }
    }
  }
  &__course {
    flex: 1;
    padding: 0 20px;
  }
  &__method {
    text-align: left;
    width: calc(100% - 220px);
  }
  &__price { 
    font-size: 24px; 
    line-height: 1.5;
    small {
      font-size: 80%;
    }
  }
  &__note {
    font-size: 14px;
    padding-bottom: 20px;
    text-align: right;
  }
  .c_btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  small {
    font-size: 80%;
  }
}

@media screen and (max-width: $sm) {
  .p_charges__list {
    li {
      padding: 5px 0;
      margin-bottom: 10px;
      flex-direction: column;
      &:first-child {
        font-size: $fs-area-s;
        .p_charges__fee { display: none; }
      }
      &:last-child {
        margin-bottom: 10px; 
      }
      .p_charges__fee {
        font-size: $fs-area-s;
        display: inline-block;
        margin-right: 10px;
      }
    }
    &.is_3cols {
      .p_charges__method {
        width: auto;
      }
      .p_charges__price,
      .p_charges__fee {
        width: auto;
      }
    }
  }
  .p_charges__course {
    flex: auto;
    width: auto;
    padding: 0;
  }
  .p_charges__method {
    width: auto;
    line-height: $line-height-point-xl;
  }  
  .p_charges__price {
    font-size: $fs-point-m-desktop;
    text-align: right;
    line-height: 1;
    margin: 5px 0 10px;
    small {
      font-size: $fs-area-m;
    }
  }
  .p_charges__note {
    padding-bottom: 0;
  }
}