/*----------------------------------------------
	.p_contact
---------------------------------------------*/

.p_contact {
  &__txt {
    padding: 45px 0 40px;
    text-align: center;
  }
  &__menus {
    display: flex;
    justify-content: space-around;
    li {
      width: 410px;
      a {
        background-color: $color-main;
        border: none;
        color: $color-white;
        width: 100%;
        img {
          left: 20px;
          margin-top: -10px;
          position: absolute;
          top: 50%;
        }
        &:after { background: #F7FBFD; }
      }
      &:last-child a img {
        margin-top: -7px;
      }
    }
  }
  &__info { padding-top: 65px; }
  &__ttl {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 25px;
    text-align: center;
  }
  &__inquiries {
    display: flex;
    justify-content: space-between;
  }
  &__name {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    span {
      color: $color-main;
      font-size: 12px;
    }
  }
  &__tel {
    color: $color-main;
    font-size: 26px;
    font-weight: 700;
    span {
      padding-left: 27px;
      position: relative;
      img {
        left: 0;
        position: absolute;
        top: 9px;
        width: 22px;
      }
    }
  }
  &__time { font-size: 14px; }
  &__box {
    .is_justify-c {
      justify-content: center;
    }
  }
}

@media screen and (max-width: $sm) {
  .p_contact__txt {
    text-align: left;
    padding: 20px 0;
  }
  .p_contact__menus {
    flex-direction: column;
    align-items:  center;
    li {
      width: 100%;
      max-width: 400px;
      a img {
        width: 20px;
      }
    }
    .c_btn {
      font-size: $fs-area-base;
    }
    &.is_style2 {
      display: flex;
      .c_btn:after {
        display: none;
      }
    }
  }
  .p_contact__info {
    padding-top: 30px;  
  }
  .p_contact__subtxt {
    font-size: $fs-area-s;
    text-align: center;
  }
  .p_contact__box {
    width: 100%;
    margin-left: 0;
  }
  .p_contact__box {
    .is_justify-c {
      margin-top: 5px;
    }
  }
}