/*----------------------------------------------
	.p_doctor
---------------------------------------------*/

.p_doctor__item {
  padding-bottom: 80px;
  margin-bottom: 80px;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 1px;
    background: $color-main;
    bottom: 0;
    left: 0;
  }
  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    &::after {
      display: none;
    }
  }
}
.p_doctor__head {
  font-size: $fs-point-l-mobile;
  line-height: 1.6;
  .c_ttl {
    letter-spacing: 0;
    margin-bottom: 20px;
    span {
      display: inline-block;
      font-size: $fs-area-base;
      color: $color-main;
      margin-left: 15px;
      margin-bottom: 0;
      letter-spacing: $space-xxxs;
      vertical-align: middle;
    }
    small { 
      font-size: $fs-area-m;
      display: block;
    }
  }
}
.p_doctor__spec {
  font-size: $fs-point-s-desktop;
  display: flex;
  span {
    padding: 0 20px 3px;
    flex: 1;
    background: $color-lightblue;
    line-height: 1.8;
  }
  span:first-child {
    flex: none;
    background: $color-main;
    color: $color-white;
    padding: 0 10px 3px;
    min-width: 100px;
    text-align: center;
  }
}
.p_doctor__content {
  overflow: hidden;
  margin-top: 40px;
  p {
    margin-bottom: 15px;
  }
  h3 {
    font-size: $fs-point-l-mobile;
    color: $color-main;
    font-weight: $fw-serif-sembold;
    letter-spacing: $space-xxxs;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  h4 {
    font-size: $fs-area-l;
    color: $color-main;
    font-weight: $fw-serif-sembold;
    letter-spacing: $space-xxxs;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  h5 {
    font-size: $fs-area-l;
    font-weight: $fw-serif-regular;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .p_doctor__img {
    width: 300px;
    line-height: 1.5;
    img {
      width: 100%;
    }
    small {
      font-size: $fs-area-s;
    }
    &.is_right {
      float: right;
      margin: 0 0 20px 30px;
    }
    &.is_left {
      float: left;
      margin: 0 30px 20px 0;
    }
    &.is_center {
      float: none;
      display: block;
      margin: 10px auto;
    }
  }
}
.p_doctor__other {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  > div {
    width: calc(50% - 20px);
  }
  h4 {
    border-bottom: 1px solid $color-gray;
    color: $color-main;
    font-size: $fs-area-m;
    font-weight: $fw-serif-sembold;
    line-height: 1.8;
    margin-bottom: 20px;
    letter-spacing: $space-xxxs;
  }
  .p_doctor__career {
    table {
      th {
        color: $color-main;
      }
      td {
        padding-left: 25px;
      }
    }
  }
  .p_doctor__aff {
    ul {
      li {
        position: relative;
        padding-left: 15px;
        line-height: 1.6;
        margin-bottom: 15px;
        &::before {
          position: absolute;
          content: '';
          top: 10px;
          left: 0;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: $color-main;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .p_doctor__item {
    padding-bottom: 50px;
    margin-bottom: 50px;
    &::after {
      width: 70px;
    }
  }
  .p_doctor__head {
    font-size: $fs-area-base;
    .c_ttl {
      font-size: $fs-area-l;
      span {
        display: block;
        font-size: $fs-area-s;
        margin: 5px 0;
      }
      small {
        font-size: $fs-area-base;
      }
    }
  }
  .p_doctor__spec {
    font-size: $fs-area-base;
    display: block;
    span {
      display: block;
      padding: 5px 10px;
    }
    span:first-child {
      padding: 0 10px;
    }
  }
  .p_doctor__content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    h3 {
      font-size: $fs-point-s-desktop;
      margin-bottom: 10px;
    }
    h4 {
      font-size: $fs-point-l;
    }
    .p_doctor__text-img {
      display: flex;
      flex-direction: column;
    }
    .p_doctor__img {
      order: 9;
      float: none;
      margin: 15px auto;
      max-width: 220px;
      width: 100%;
      &.is_right,
      &.is_left,
      &.is_center {
        float: none;
        margin: 15px auto 25px;
      }
    }
    p {
      margin-bottom: 10px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .p_doctor__other {
    display: block;
    font-size: $fs-area-s;
    margin-top: 20px;
    h4 {
      font-size: $fs-point-s-desktop;
      margin-bottom: 15px;
    }
    > div {
      width: 100%;
      display: block;
      overflow: hidden;
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .p_doctor__career {
      table {
        th {
          width: 55px;
          text-align: left;
        }
        td {
          padding-left: 10px;
        }
      }
    }
    .p_doctor__aff {
      ul {
        li {
          margin-bottom: 10px;
          &::before {
            top: 8px;
          }
        }
      }
    }
  }
}