/*----------------------------------------------
	.p_feature
---------------------------------------------*/

.p_feature__item {
  display: flex;
  justify-content: space-between;
  margin-bottom:70px;
  .p_feature__img {    
    width: 100%;
    margin-left: 70px; 
    img {
      width: 410px;
      display: block;
    }
  }
  &:nth-child(2n) {
    flex-direction: row-reverse;
    .p_feature__img {
      margin-left: 0;
      margin-right: 70px;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.p_feature__content {
  padding: 10px 0;
  h3 {
    font-size: $fs-point-xl;
    font-weight: $fw-serif-medium;
    position: relative;
    padding-left: 80px;
    min-height: 90px;
    line-height: 1.5;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    letter-spacing: $space-xxxs;
    span {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 100px;
      color: #C6E7F5;
      line-height: 0.8;
    }
  }
}

@media screen and (max-width: $sm) {
  .p_feature__item {
    flex-direction: column;
    margin-bottom: 20px;
    .p_feature__img {
      margin: 0 auto;
      max-width: 410px;
      width: 100%;
      img {
        width: 100%;
      }
    }
    &:nth-child(2n) {
      flex-direction: column;
      .p_feature__img {
        margin: 0 auto;
      }
    }
  }
  .p_feature__content {
    h3 {
      font-size: $fs-area-m;
      padding-left: 50px;
      min-height: 60px;
      margin-bottom: 10px;
      span {        
        font-size: 65px;
      }
    }
  }
}