/*----------------------------------------------
	.p_form
---------------------------------------------*/
.p_form {
  &__content {
    font-weight: $fw-serif-sembold;
    margin-bottom: 40px;
    p small {
      font-size: $fs-area-s;
    }    
  }
  &__tbl {
    width: 100%;
    th {
      text-align: left;
      font-weight: $fw-serif-bold;
      width: 270px;
    }
    th,td {
      vertical-align: top;
      padding-bottom: 45px;
    }
    tr:last-child {
      th,td {
        padding-bottom: 0;
      }
    }
  }
  .is_red { color: $color-red; }
  input, textarea, select {
    border: 1px solid #E6E6E6;
    min-height: 40px;
    background: none;
    outline: none;
    padding: 0 10px;
  }
  textarea {
    padding: 10px;
  }
  .is_wide {
    width: 100%;
  }
  .is_widearea {
    width: 100%;
    height: 150px;
  }
  .is_smwide {
    width: calc(33.33% - 20px);      
  }
  .is_calendar {
    width: 50%;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      top: 7px;
      right: 10px;
      width: 23px;
      height: 25px;
      background: url(../img/icon_formcalendar.svg) no-repeat;
      background-size: cover;
    }
  }
  .is_formsubmit {
    width: 100%;
    max-width: 410px;
    padding: 0;
    margin-top: 50px;
    input[type=submit] {
      min-height: auto;
      border: 0;
      width: 100%;
      height: 68px;
      padding: 0;
      cursor: pointer;
    }
  }
  .is_backbtn { display: none; }
  .mw_wp_form_confirm .is_backbtn { display: block; }
  &__radio {
    display: flex;
    flex-wrap: wrap;
    input[type=radio] {
      display: none;
    }
    label span {
      position: relative;
      padding-left: 40px;
      margin: 5px 30px 5px 0;
      line-height: 1.8;
      display: block;
    }
    label input[type=radio]+span::before {
      content: "";
      display: block;
      width: 28px;
      height: 28px;
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid #E6E6E6;
      border-radius: 50%;
      background: none;
    }
    label input[type=radio]:checked+span::after {
      content: "";
      display: block;
      position: absolute;
      width: 18px;
      height: 18px;
      left: 5px;
      top: 5px;
      background: $color-gray;
      border-radius: 50%;
    }
  }
  &__3fields {
    display: flex;
    height: 40px;
    align-items: center;
    span {
      width: 30px;
      font-size: $fs-area-m;
      color: $color-darkgray;
      text-align: center;
    }    
  }
  &__dates {
    display: flex;
    margin-bottom: 30px;
    &:last-of-type {
      margin-bottom: 0;
    }
    label {
      width: 130px;
      font-weight: $fw-serif-bold;
      flex: none;
    }
    .is_dfields {
      display: flex;
      flex: 1;
      .is_date {
        width: 100%;
        max-width: 315px;
      }
      > span {
        width: 30px;
        text-align: center;
      }
      .is_select {
        flex: 1;        
      }
    }    
  }
}

@media screen and (max-width: $sm) {
  .p_form {
    .is_formsubmit {
      margin: 0 auto 40px;
      input[type=submit] {
        height: 58px;
      }
    }
    .is_backbtn { margin-bottom: 20px; }
    &__content {
      margin-bottom: 20px;
    }
    .is_widearea {
      height: 100px;
    }
  }
  .p_form__tbl {
    font-size: $fs-area-s;
    th,td {
      width: 100%;
      display: block;
      padding-bottom: 0;
    }
    td {
      padding-top: 5px;
    }
    tr {
      display: block;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .p_form__dates {
    margin-bottom: 20px;
    label {
      width: 110px;
    }
  }
}
@media screen and (max-width: $xs) {
  .p_form {
    .is_calendar::after {
      top: 10px;
      width: 18px;
      height: 20px;
    }
  }
  .p_form__dates {
    flex-direction: column;
    .is_dfields {
      span { width: 15px; }
    }
  }
}
