/*----------------------------------------------
	.p_menu
---------------------------------------------*/

.p_menu__list {
  margin: 0 0 100px;
  display: flex;
  li {
    flex: 1;
    text-align: center;
    font-size: $fs-point-s-desktop;
    padding: 0 10px;
    a {
      display: block;
      font-weight: $fw-serif-medium;
      color: $color-main;
      border-bottom: 1px solid $color-gray;
      position: relative;
      padding: 10px 0;
      text-decoration: none;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: $line-height-point-xl;
      &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 15px;
        background: $color-text-primary;
        bottom: -8px;
        left: 50%;
        transition: all 0.3s;
      }
      &:hover,
      &.current:hover {
        &::after {
          height: 20px;
          bottom: -15px;
        }
      }
    }
  }
}
.p_menu__box {
  padding: 40px;
  border: 1px solid $color-gray;
  .p_menu__box__ttl {
    text-align: center;
    font-size: $fs-point-xl;
    font-weight: $fw-serif-medium;
    margin-bottom: 30px;
    letter-spacing: $space-xxxs;
  }
  .p_menu__box__list {
    text-align: center;
    ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      // column-gap: 100px;
      display: inline-block;
      text-align: left;
      margin: 0;
      padding: 0;
      clear: both;
      overflow: hidden;
      li {
        padding-left: 30px;
        position: relative;
        margin: 0 50px 5px;
        &:last-child {
          margin-bottom: 0;
        }
        &::before {
          content: '';
          position: absolute;
          top: 12px;
          left: 0;
          width: 12px;
          height: 6px;
          border-left: 1px solid $color-main;
          border-bottom: 1px solid $color-main;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .p_menu__list {
    flex-wrap: wrap;
    margin-bottom: 50px;
    li {
      font-size: $fs-area-base;
      flex: unset;
      width: 160px;
      max-width: 50%;
      margin-bottom: 20px;
      a {
        color: $color-main;
      }
    }
  }

  .p_menu__box {
    padding: 20px;
    .p_menu__box__ttl {
      font-size: $fs-area-l;
      margin-bottom: 10px;
    }
    .p_menu__box__list {
      text-align: left;
      ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
        li {
          margin: 0 0 5px;
        }
      }
    }
  }
}

@media screen and (max-width: $xs) {
  .p_menu__list {
    justify-content: space-between;
    li {
      width: 47%;
      padding: 0;
    }
  }
}