/*----------------------------------------------
	.p_point
---------------------------------------------*/

.p_point {
  margin: 0 auto;
  max-width: 740px;
  background: rgba($color-white, 0.9);
  padding: 50px;
  .p_point__ttl {
    font-size: $fs-point-l-mobile;
    margin-top: 110px;
    span {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        width: 60px;
        height: 100px;
        background: url(../img/icon-point.svg) no-repeat center;
        background-size: 100%;
        top: -110px;
        left: calc(50% - 30px);
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .p_point {
    padding: 30px 20px;
    .p_point__ttl {
      font-size: $fs-area-m;
      text-align: left;
      margin-top: 80px;
      span {
        text-align: center;
        &:before {
          width: 40px;
          height: 70px;
          top: -80px;
          left: calc(50% - 20px);
        }
      }
    }
  }
}