/*----------------------------------------------
	.p_section
---------------------------------------------*/

.p_section {
  display: block;
  overflow: hidden;
}
.p_section__img {
  float: right;
  margin-right: -160px;
}
.p_section__inner {
  max-width: 530px;
  width: 100%;
  padding: 20px 0;
}
.p_section__txt {
  p {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: $sm) {
  .p_section__about {
    display: flex;
    flex-direction: column-reverse;
  }
  .p_section__img {
    float: none;
    width: calc(100% + 40px);
    max-width: 400px;
    align-self: flex-end;
    margin: 0 -20px;
  }
  .p_section__inner {
    max-width: 100%;
  }
}